Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Fix race condition in ProviderNameToGuid causing ERROR_INSUFFICIENT_BUFFER crashes (#2357)
  src/TraceEvent/TraceEvent.Tests/Regression/ProviderNameToGuidTests.cs
  src/TraceEvent/TraceEventSession.cs
Due: production, test

Fix SourceLink to only use wildcard paths for prefix matching
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

Bump version to 3.1.29 (#2358)
  src/Directory.Build.props
Due: none

Fix test build
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

doc: fix typo in tutorial
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

doc: fix typo in GCStats report
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

doc: fix grammar in tutorial
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

doc: fix typos (#2359)
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Local improvements.
  src/PerfView.Tests/FragmentationBlameStackSourceTests.cs
  src/PerfView/PerfViewData.cs
  src/PerfView/memory/FragmentationBlameStackSource.cs
Due: production, test

Fix SourceLink parsing to support both wildcard and exact path mappings (#2355)
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

add horizontal scrolling to eventviewer
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/EventViewer/EventWindow.xaml.cs
Due: production

Local improvements.
  src/TraceParserGen.Tests/ParserGenerationTests.cs
  src/TraceParserGen.Tests/README.md
  src/TraceParserGen.Tests/TestBase.cs
  src/TraceParserGen.Tests/inputs/AdvancedFeatures.manifest.xml
  src/TraceParserGen.Tests/inputs/BoolPointerTest.manifest.xml
  src/TraceParserGen.Tests/inputs/EnumTest.manifest.xml
  src/TraceParserGen.Tests/inputs/MultiType.manifest.xml
  src/TraceParserGen.Tests/inputs/OpcodeTest.manifest.xml
  src/TraceParserGen.Tests/inputs/SimpleTest.manifest.xml
  src/TraceParserGen.Tests/inputs/TemplateSharingTest.manifest.xml
Due: none

Improve Copilot Behavior
  .github/copilot-instructions.md
Due: none

Rewrite GetManifestForRegisteredProvider to use XmlWriter
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
Due: production, test

Improve Copilot Behavior (#2362)
  .github/copilot-instructions.md
Due: none

Re-enable DebugAssertionTests (#2363)
  src/PerfView.TestUtilities/DebugAssertionTests.cs
Due: test

cache scrollviewer
  src/PerfView/EventViewer/EventWindow.xaml.cs
Due: production

improve cache hit path efficiency
  src/PerfView/EventViewer/EventWindow.xaml.cs
Due: production

add horizontal scrolling to eventviewer (#2361)
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/EventViewer/EventWindow.xaml.cs
Due: production

Add SHA-384 and SHA-512 hash algorithm support for PDB checksums (#2366)
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/Symbols/PortableSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

Bump version to 3.1.30
  src/Directory.Build.props
Due: none

Bump version to 3.1.30 (#2367)
  src/Directory.Build.props
Due: none

Fix Debug.Assert failures exposed by ThrowingTraceListener in SpeedScope tests
  src/PerfView.TestUtilities/DebugAssertionTests.cs
  src/PerfView.TestUtilities/ThrowingTraceListener.cs
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Speedscope/SpeedScopeExporterTests.cs
  src/TraceEvent/TraceEvent.cs
Due: production, test

Add tests for versioned events.
  src/TraceParserGen.Tests/ParserGenerationTests.cs
  src/TraceParserGen.Tests/inputs/VersionedEvent.manifest.xml
Due: none

Address review feedback.
  src/TraceParserGen.Tests/ParserGenerationTests.cs
  src/TraceParserGen.Tests/TestBase.cs
  src/TraceParserGen/TraceParserGen.cs
Due: none

Address review feedback.
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
Due: production, test

Address review feedback.
  src/TraceParserGen.Tests/ParserGenerationTests.cs
  src/TraceParserGen/TraceParserGen.cs
Due: none

Fix Debug.Assert failures exposed by ThrowingTraceListener in SpeedScope tests (#2368)
  src/PerfView.TestUtilities/DebugAssertionTests.cs
  src/PerfView.TestUtilities/ThrowingTraceListener.cs
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Speedscope/SpeedScopeExporterTests.cs
  src/TraceEvent/TraceEvent.cs
Due: production, test

Remove limitations section.
  src/TraceParserGen.Tests/README.md
Due: none

Emit actual TaskGuid from eventGUID manifest attribute
  src/TraceParserGen.Tests/ParserGenerationTests.cs
  src/TraceParserGen.Tests/inputs/SimpleTest.manifest.xml
  src/TraceParserGen/ETWManifest.cs
  src/TraceParserGen/TraceParserGen.cs
Due: none

Add TraceParserGen.Tests to CI test pipeline
  .pipelines/perfview-job.yml
Due: none

Add TraceParserGen.Tests project and fix code generation bugs (#2308)
  .pipelines/perfview-job.yml
  PerfView.sln
  src/TraceParserGen.Tests/ParserGenerationTests.cs
  src/TraceParserGen.Tests/README.md
  src/TraceParserGen.Tests/TestBase.cs
  src/TraceParserGen.Tests/TraceParserGen.Tests.csproj
  src/TraceParserGen.Tests/inputs/AdvancedFeatures.manifest.xml
  src/TraceParserGen.Tests/inputs/BoolPointerTest.manifest.xml
  src/TraceParserGen.Tests/inputs/EnumTest.manifest.xml
  src/TraceParserGen.Tests/inputs/MultiType.manifest.xml
  src/TraceParserGen.Tests/inputs/OpcodeTest.manifest.xml
  src/TraceParserGen.Tests/inputs/SimpleTest.manifest.xml
  src/TraceParserGen.Tests/inputs/TemplateSharingTest.manifest.xml
  src/TraceParserGen.Tests/inputs/VersionedEvent.manifest.xml
  src/TraceParserGen/ETWManifest.cs
  src/TraceParserGen/TraceParserGen.cs
Due: none

Handle provider names that start with a numeric digit.
  src/TraceParserGen.Tests/ParserGenerationTests.cs
  src/TraceParserGen.Tests/inputs/LeadingDigitProvider.manifest.xml
  src/TraceParserGen/TraceParserGen.cs
Due: none

Update UsersGuide.htm
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Update UsersGuide.htm (#2370)
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Stop creating synthetic .il module paths for ReadyToRun assemblies
  src/TraceEvent/AutomatedAnalysis/StackView.cs
  src/TraceEvent/TraceLog.cs
Due: production

Strip .il and .ni suffixes from TraceModuleFile.Name (#2364)
  src/TraceEvent/AutomatedAnalysis/StackView.cs
  src/TraceEvent/TraceLog.cs
Due: production

Dispose WebView2 controls before Environment.Exit to prevent finalizer crash
  src/PerfView/MainWindow.xaml.cs
Due: production

Handle provider names that start with a numeric digit. (#2369)
  src/TraceParserGen.Tests/ParserGenerationTests.cs
  src/TraceParserGen.Tests/inputs/LeadingDigitProvider.manifest.xml
  src/TraceParserGen/TraceParserGen.cs
Due: none
