Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

Solve simple serialization issues
  nuget.config
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/FastSerialization.csproj
  src/FastSerialization/MemoryMappedFileStreamReader.cs
  src/TraceEvent/AutomatedAnalysis/AnalyzerResolver.cs
  src/TraceEvent/AutomatedAnalysis/DirectoryAnalyzerResolver.cs
  src/TraceEvent/AutomatedAnalysis/IAnalyzerProvider.cs
  src/TraceEvent/Ctf/CtfChannel.cs
  src/TraceEvent/Ctf/CtfMetadataLegacyParser.cs
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/ETWKernelControl.cs
  src/TraceEvent/ETWReloggerTraceEventSource.cs
  src/TraceEvent/NativeDlls.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/TraceEventSession.cs
  src/TraceEvent/TraceLog.cs
  src/TraceEvent/Utilities/WindowsDeviceToVolumeMap.cs
  src/TraceEvent/WPPTraceEventParser.cs
Due: production

Make TraceEvent and FastSerialization AOT-compatible
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.targets
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceEvent.csproj
Due: production

Simplify code and add comments.
  src/TraceEvent/TraceLog.cs
Due: production

Add assert when LoadedModule isn't found for a symbol.
  src/TraceEvent/TraceLog.cs
Due: production

Update DynamicTraceEventParser.cs
  src/TraceEvent/DynamicTraceEventParser.cs
Due: production

Update msdia140 by updating TraceEvent.SupportFiles to version 1.0.30.
  src/Directory.Build.props
Due: none

Implement MSFZ symbols format support in SymbolReader (#2244)
  src/Directory.Build.props
  src/PerfView/App.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

Remove uses of DefaultAzureCredential
  src/HeapDump/Program.cs
  src/PerfView/Authentication.cs
  src/SymbolsAuth/Samples/1_InteractivePopupAuth.cs
Due: production

Remove uses of DefaultAzureCredential (#2255)
  src/HeapDump/Program.cs
  src/PerfView/Authentication.cs
  src/SymbolsAuth/Samples/1_InteractivePopupAuth.cs
Due: production

Remove hide command.
  src/PerfView/MainWindow.xaml
  src/PerfView/MainWindow.xaml.cs
Due: production

Increment Versions
  src/Directory.Build.props
Due: none

Add option to hide TimeStamp columns in EventWindow View menu (#2247)
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/EventViewer/EventWindow.xaml.cs
Due: production

Code review feedback.
  src/TraceEvent/TraceLog.cs
Due: production

Fix NVDA screen reader incorrect list count for File menu separators (#2257)
  src/PerfView/MainWindow.xaml
  src/PerfView/MainWindow.xaml.cs
Due: production

Increment Versions (#2260)
  src/Directory.Build.props
Due: none

Update comments.
  src/PerfView/StackViewer/StackWindow.xaml.cs
Due: production

Fix unhandled exception when double-clicking in scroll bar area with no selected nodes (#2254)
  src/PerfView/StackViewer/StackWindow.xaml.cs
Due: production

Fix universal symbol conversion for overlapping mappings (#2252)
  src/TraceEvent/TraceLog.cs
Due: production

Explanation comment.
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.props
Due: production

Fix TraceEvent.props to respect ProcessorArchitecture when RuntimeIdentifier isn't specified (#2249)
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.props
Due: production

Add package source mappings.
  Nuget.config
Due: none

Add explanation for CodeQL suppressions.
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/Symbols/PortableSymbolModule.cs
  src/TraceEvent/TraceEventSession.cs
  src/TraceParserGen/Program.cs
Due: production

Remove hardcoded version MSBuild properties and instead gather the version information from Directory.Packages.props.
  src/Directory.Build.props
  src/TraceEvent/TraceEvent.csproj
Due: production

Fix ClrMD usage in TraceEvent.csproj.
  src/Directory.Build.props
  src/PerfView/PerfView.csproj
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Remove superfluous System.Text.Json reference.
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Remove hardcoded package versions from SymbolsAuth.csproj.
  src/SymbolsAuth/SymbolsAuth.csproj
Due: none

Add explanation for CodeQL suppressions. (#2263)
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/Symbols/PortableSymbolModule.cs
  src/TraceEvent/TraceEventSession.cs
  src/TraceParserGen/Program.cs
Due: production

Revert package versions that copilot changed.
  src/Directory.Packages.props
Due: none

More CodeQL Suppressions
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/Symbols/PortableSymbolModule.cs
  src/TraceEvent/TraceEventSession.cs
  src/TraceParserGen/Program.cs
Due: production

Revert "Fix package versions to use available versions in NuGet.org"
  src/Directory.Packages.props
Due: none

Implement NuGet Central Package Version Management (#2262)
  Nuget.config
  src/CSVReader/CSVReader.csproj
  src/Directory.Build.props
  src/Directory.Packages.props
  src/EtwClrProfilerSigning/EtwClrProfilerSigning.csproj
  src/EtwHeapDump/EtwHeapDump.csproj
  src/FastSerialization/FastSerialization.csproj
  src/HeapDump/HeapDump.csproj
  src/HeapDumpDLL/HeapDumpDLL.csproj
  src/LinuxTracing.Tests/LinuxTracing.Tests.csproj
  src/MemoryGraph/MemoryGraph.csproj
  src/NuGetPackageSigning/NuGetPackageSigning.csproj
  src/PerfView.TestUtilities/PerfView.TestUtilities.csproj
  src/PerfView.Tests/PerfView.Tests.csproj
  src/PerfView.Tutorial/PerfView.Tutorial.csproj
  src/PerfView/PerfView.csproj
  src/PerfViewCollect/PerfViewCollect.csproj
  src/SymbolsAuth.Tests/SymbolsAuth.Tests.csproj
  src/SymbolsAuth/SymbolsAuth.csproj
  src/TraceEvent/Ctf/CtfTracing.Tests/CtfTracing.Tests.csproj
  src/TraceEvent/Samples/TraceEventSamples.csproj
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
  src/TraceEvent/TraceEvent.csproj
  src/TraceParserGen/TraceParserGen.csproj
  src/Utilities/Utilities.csproj
Due: production, test

More CodeQL Suppressions (#2264)
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/Symbols/PortableSymbolModule.cs
  src/TraceEvent/TraceEventSession.cs
  src/TraceParserGen/Program.cs
Due: production

Add missing leading slash to memfd:doublemapper.
  src/TraceEvent/TraceLog.cs
Due: production

Rewrite feature switch as enum
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.targets
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/WPPTraceEventParser.cs
Due: production

Revert other changes
  src/FastSerialization/FastSerialization.csproj
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TraceLog.cs
Due: production

Revert unneeded changes
  src/TraceEvent/AutomatedAnalysis/AnalyzerResolver.cs
Due: production

Create a module per jitted method so that we can control the module name.
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/TraceLog.cs
Due: production

Code clean-up.
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalSymbolParsingTest.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

No need to warn about not running broken stack analysis.
  src/PerfView/PerfViewData.cs
Due: production

Fix broken stacks warning for universal traces (#2268)
  src/PerfView/PerfViewData.cs
Due: production

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
