Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Align R2R and ELF with PDB Find-Matches-Open pattern
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/Symbols/R2RPerfMapSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Read .gnu_debuglink from ELF binaries for symbol file discovery
  src/TraceEvent/Symbols/ElfSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfBuilder.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfSymbolModuleTests.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

Harden ElfSymbolModule
  src/TraceEvent/Symbols/ElfSymbolModule.cs
Due: production

Fix FindElfSymbolFilePath to use binary as last resort
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

Fix ApplicationServerTraceEventParser to match WCF ETW manifest
  src/TraceEvent/Computers/StartStopActivityComputer.cs
  src/TraceEvent/Parsers/ApplicationServerTraceEventParser.cs
Due: production

Register ApplicationServerTraceEventParser in TraceLog standard parsers
  src/TraceEvent/TraceLog.cs
Due: production

Fixed overflow when working with large dumps
  src/HeapDump/GCHeapDumper.cs
Due: production

Fixed overflow when working with large dumps (#2399)
  src/HeapDump/GCHeapDumper.cs
Due: production

Replace ELF offset arithmetic with StructLayout structs
  src/TraceEvent/Symbols/ElfSymbolModule.cs
Due: production

Refactor ElfSymbolModule: hoist SwapEndian into ReadStruct and add helpers
  src/TraceEvent/Symbols/ElfSymbolModule.cs
Due: production

review-loop iteration 2: use current STA dispatcher instead of app.Dispatcher in test
  src/PerfView.Tests/Dialogs/XamlMessageBoxTests.cs
Due: test

review-loop iteration 1: prefer owner dispatcher, guard Application singleton, guard RegisterClassHandler
  src/PerfView.Tests/Dialogs/XamlMessageBoxTests.cs
  src/PerfView/Dialogs/XamlMessageBox.cs
Due: production, test

Fix XamlMessageBox STA threading crash from background threads
  src/PerfView.Tests/Dialogs/XamlMessageBoxTests.cs
  src/PerfView/Dialogs/XamlMessageBox.cs
Due: production, test

Fix XamlMessageBox STA Threading Crash from Background Threads (#2400)
  src/PerfView.Tests/Dialogs/XamlMessageBoxTests.cs
  src/PerfView/Dialogs/XamlMessageBox.cs
Due: production, test

Fix ApplicationServerTraceEventParser round-trip test for all 481 events
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk01.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk02.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk03.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk04.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk05.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk06.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk07.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk08.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk09.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk10.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk11.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk12.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk13.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.cs
Due: production, test

review-loop iteration 1: fix broken UnregisterEventTemplate and add ServiceAction back-compat alias
  src/TraceEvent/Parsers/ApplicationServerTraceEventParser.cs
Due: production

Refactor round-trip test to use event names instead of event numbers
  PerfView.sln
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk01.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk02.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk03.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk04.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk05.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk06.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk07.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk08.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk09.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk10.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk11.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk12.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk13.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.cs
Due: production, test

Address PR review comments: overflow check, null guard, build-id match, HashCode.Combine
  src/Directory.Packages.props
  src/PerfView/PerfView.csproj
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/TraceLog.cs
Due: production

Update Microsoft.Bcl.HashCode to version 6.0.0
  src/Directory.Packages.props
Due: none

Add null check for fileName in FindElfSymbolFilePath
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

Fix NullReferenceException in SegmentedList.Add during large heap snapshots
  src/FastSerialization.Tests/SegmentedMemoryStreamWriterTests.cs
  src/FastSerialization/SegmentedMemoryStreamWriter.cs
Due: production

Add ELF Symbol Resolution for Linux .nettrace Traces (#2397)
  src/Directory.Packages.props
  src/PerfView/PerfView.csproj
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/Symbols/ElfSymbolModule.cs
  src/TraceEvent/Symbols/R2RPerfMapSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfBuilder.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfSymbolModuleTests.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/TraceLog.cs
Due: production, test

Bump version to 3.2.0
  src/Directory.Build.props
Due: none

Bump version to 3.2.0 (#2402)
  src/Directory.Build.props
Due: none

Add Missing WCF Event Templates (#2390)
  PerfView.sln
  src/TraceEvent/Computers/StartStopActivityComputer.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/Parsers/ApplicationServerTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk01.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk02.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk03.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk04.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk05.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk06.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk07.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk08.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk09.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk10.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk11.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk12.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.Chunk13.cs
  src/TraceEvent/TraceEvent.Tests/Parsers/ApplicationServerTraceEventParserTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Use min-heap for EventCache.SortAndDispatch
  src/TraceEvent/EventPipe/EventCache.cs
Due: production

Track active thread queues in EventCache.SortAndDispatch
  src/TraceEvent/EventPipe/EventCache.cs
Due: production

Cache ParsedSymbolMetadata to avoid repeated JSON deserialization
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
Due: production

Avoid redundant FileName string allocations in ProcessMapping handler
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
Due: production

Reset ParsedSymbolMetadata cache in Dispatch to prevent stale data
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
Due: production

Address code review feedback: MinHeap class, Clone override, comments
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
Due: production

Add MinHeap unit tests and improve Build() comment
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/TraceEvent.Tests/Cache/MinHeapTests.cs
Due: production, test

Optimize nettrace-to-TraceLog Conversion (#2403)
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/TraceEvent.Tests/Cache/MinHeapTests.cs
Due: production, test

Embed missing System.Text.Json transitive dependencies in PerfView
  src/Directory.Packages.props
  src/PerfView/PerfView.csproj
Due: production

Embed missing System.Text.Json transitive dependencies in PerfView (#2404)
  src/Directory.Packages.props
  src/PerfView/PerfView.csproj
Due: production

Update version to 3.2.1 (#2405)
  src/Directory.Build.props
Due: none

Fix PDB symbol resolution for unmerged Windows traces
  src/TraceEvent/TraceLog.cs
Due: production

Bump version to 3.2.2
  src/Directory.Build.props
Due: none

Fix PDB Symbol Resolution for Unmerged Windows Traces (#2407)
  src/Directory.Build.props
  src/TraceEvent/TraceLog.cs
Due: production

Enable Spectre mitigations and linker optimizations for EtwClrProfiler
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production
