Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

Documentation Updates (#2083)
  README.md
  documentation/Scenarios.md
Due: none

Address mirror merge conflicts.
  .pipelines/mirror.yml
Due: none

Address mirror merge conflicts. (#2087)
  .pipelines/mirror.yml
Due: none

Build tutorial.exe from source.
  PerfView.sln
  src/PerfView.Tutorial/PerfView.Tutorial.csproj
  src/PerfView.Tutorial/Tutorial.cs
  src/PerfView/PerfView.csproj
  src/PerfView/SupportFiles/Tutorial.exe
  src/PerfView/SupportFiles/Tutorial.pdb
Due: production

Build tutorial.exe from source. (#2088)
  PerfView.sln
  src/PerfView.Tutorial/PerfView.Tutorial.csproj
  src/PerfView.Tutorial/Tutorial.cs
  src/PerfView/PerfView.csproj
  src/PerfView/SupportFiles/Tutorial.exe
  src/PerfView/SupportFiles/Tutorial.pdb
Due: production

Compile ETWClrProfiler with /QSpectre.
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Remove obsolete Exception constructor.
  src/PerfView.TestUtilities/ThrowingTraceListener.cs
Due: test

Update UsersGuide.htm
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Updating the PerfView documentation (#2092)
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Compile ETWClrProfiler with /QSpectre. (#2089)
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Remove obsolete Exception constructor. (#2090)
  src/PerfView.TestUtilities/ThrowingTraceListener.cs
Due: test

Use the fwlink version of the Privacy Policy URL.
  src/PerfView/MainWindow.xaml.cs
Due: production

Use the fwlink version of the Privacy Policy URL. (#2096)
  src/PerfView/MainWindow.xaml.cs
Due: production

Build Layout PerfView Command
  src/PerfView/App.cs
  src/PerfView/Utilities/SupportFiles.cs
Due: production

Build Layout PerfView Command (#2099)
  src/PerfView/App.cs
  src/PerfView/Utilities/SupportFiles.cs
Due: production

Increment version numbers.
  src/Directory.Build.props
Due: none

Increment version numbers. (#2101)
  src/Directory.Build.props
Due: none

Don't fail /buildLayout if SupportFilesDirBase doesn't exist.
  src/PerfView/Utilities/SupportFiles.cs
Due: production

Increment Versions.
  src/Directory.Build.props
Due: none

Don't fail /buildLayout if SupportFilesDirBase doesn't exist. (#2103)
  src/PerfView/Utilities/SupportFiles.cs
Due: production

Increment Versions. (#2104)
  src/Directory.Build.props
Due: none

Limit StructValue resize allocations
  src/TraceEvent/DynamicTraceEventParser.cs
Due: production

Limit StructValue resize allocations (#2107)
  src/TraceEvent/DynamicTraceEventParser.cs
Due: production

[TraceEvent] Restrict extension truncating to known exts
  src/TraceEvent/TraceLog.cs
Due: production

[Tests] Update baseline
  src/TraceEvent/TraceEvent.Tests/inputs/netcore.3.1.x64.twocontainers.baseline.txt
Due: production, test

Apply feedback
  src/TraceEvent/TraceLog.cs
Due: production

Update building docs + add a .vsconfig file
  .vsconfig
  README.md
Due: none

Update building docs + add a .vsconfig file (#2112)
  .vsconfig
  README.md
Due: none

Fix memory leak when TraceEvent modifies the _eventRecord->ExtendedData field
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
Due: production

Remove unneeded using
  src/TraceEvent/TraceLog.cs
Due: production

[TraceEvent] Restrict extension truncating to known exts (#2111)
  src/TraceEvent/TraceEvent.Tests/inputs/netcore.3.1.x64.twocontainers.baseline.txt
  src/TraceEvent/TraceLog.cs
Due: production, test

Bump TraceEvent support files dependency package version.
  src/Directory.Build.props
Due: none

Bump TraceEvent support files dependency package version. (#2115)
  src/Directory.Build.props
Due: none

Fix memory leak when TraceEvent modifies the _eventRecord->ExtendedData field (#2114)
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
Due: production

Add support for EVENT_TRACE_PRIVATE_LOGGER_MODE and EVENT_TRACE_PRIVATE_IN_PROC flags for file mode logging
  src/TraceEvent/TraceEventNativeMethods.cs
  src/TraceEvent/TraceEventSession.cs
Due: production

Code review feedback
  src/TraceEvent/TraceEventSession.cs
Due: production

Add support for EVENT_TRACE_PRIVATE_LOGGER_MODE and EVENT_TRACE_PRIVATE_IN_PROC flags for file mode logging (#2117)
  src/TraceEvent/TraceEventNativeMethods.cs
  src/TraceEvent/TraceEventSession.cs
Due: production

Increment versions
  src/Directory.Build.props
Due: none

Increment versions (#2118)
  src/Directory.Build.props
Due: none

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
