Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

Remove the pre-Vista ETW consumer API
  src/TraceEvent/ETWTraceEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Regression/Issue1634.cs
  src/TraceEvent/TraceEvent.cs
Due: production, test

Remove profile-source OS gates
  src/TraceEvent/TraceEventSession.cs
Due: production

Remove the relogger OS gate
  src/TraceEvent/ETWReloggerTraceEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/ReloggerTests.cs
Due: production, test

Simplify the kernel keyword mask
  src/TraceEvent/Parsers/KernelTraceEventParser.cs
Due: production

Replace the obsolete ETL error explanation
  src/TraceEvent/ETWTraceEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/ETWTraceEventSourceTests.cs
Due: production, test

Remove the merge-compression OS fallback
  src/TraceEvent/TraceEventSession.cs
Due: production

Retire pre-Windows 8.1 filtering fallbacks
  src/PerfView/CommandProcessor.cs
  src/TraceEvent/TraceEvent.Tests/Platform/OperatingSystemVersionTests.cs
  src/TraceEvent/TraceEventNativeMethods.cs
  src/TraceEvent/TraceEventSession.cs
Due: production, test

Remove EventRegister's WinRT OS gate
  src/related/EventRegister/Program.cs
  src/related/EventRegister/UsersGuide.htm
  src/related/EventRegister/eventRegister.csproj
Due: none

Update samples for Windows 10
  src/TraceEvent/Samples/30_MonitorLoads.cs
  src/TraceEvent/Samples/31_KernelAndClrMonitor.cs
  src/TraceEvent/Samples/32_KernelAndClrFile.cs
  src/TraceEvent/Samples/40_SimpleTraceLog.cs
  src/TraceEvent/Samples/41_TraceLogMonitor.cs
  src/TraceEvent/Samples/50_SimpleFileRelogger.cs
  src/TraceEvent/Samples/51_SimpleMonitorRelogger.cs
Due: production

Retire Windows 7 tracing samples
  src/TraceEvent/Samples/00_AllSamples.cs
  src/TraceEvent/Samples/31_KernelAndClrMonitor.cs
  src/TraceEvent/Samples/32_KernelAndClrFile.cs
  src/TraceEvent/Samples/33_KernelAndClrMonitorWin7.cs
  src/TraceEvent/Samples/34_KernelAndClrFileWin7.cs
Due: production

Remove dead version scaffolding
  src/TraceEvent/ETWKernelControl.cs
Due: production

Validate serialized string lengths
  src/FastSerialization.Tests/StreamReaderTests.cs
  src/FastSerialization/StreamReaderWriter.cs
Due: production

Validate serialized string lengths (#2474)
  src/FastSerialization.Tests/StreamReaderTests.cs
  src/FastSerialization/StreamReaderWriter.cs
Due: production

Refresh supported-platform guidance
  README.md
  documentation/Downloading.md
  documentation/TraceEvent/TraceEventLibrary.md
  documentation/TraceEvent/TraceEventProgrammersGuide.md
  src/PerfView/CommandLineArgs.cs
  src/PerfView/SupportFiles/UsersGuide.htm
  src/TraceEvent/Parsers/KernelTraceEventParser.cs
  src/TraceEvent/Samples/ReadMe.txt
  src/TraceEvent/TraceEventSession.cs
Due: production

Dispose the invalid-handle test fixture
  src/TraceEvent/TraceEvent.Tests/Parsing/ETWTraceEventSourceTests.cs
Due: production, test

Fix compiler typo in TraceEvent guide
  documentation/TraceEvent/TraceEventProgrammersGuide.md
Due: none

Clarify ARM64 trace capture support
  documentation/Downloading.md
Due: none

Link latest download in release information
  documentation/Downloading.md
Due: none

Clarify Windows package identity
  src/HeapDump/GCHeapDumper.cs
Due: production

Validate kernel thread and EventPipe payload bounds
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/Parsers/KernelTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/KernelThreadPayloadTests.cs
Due: production, test

Remove constant PerfView architecture helpers
  src/PerfView.Tests/StartupTests.cs
  src/PerfView/App.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/Utilities/SupportFiles.cs
Due: production, test

Centralize the host architecture directory
  src/PerfView.Tests/StartupTests.cs
  src/PerfView/App.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/Utilities/SupportFiles.cs
Due: production, test

Use sparse deserializer forward references
  src/FastSerialization.Tests/ForwardReferenceTests.cs
  src/FastSerialization/FastSerialization.cs
Due: production

Validate kernel thread and EventPipe payload bounds (#2476)
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/Parsers/KernelTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/KernelThreadPayloadTests.cs
Due: production, test

ClrMD version bump
  src/Directory.Packages.props
  src/HeapDump/ClrMdDataTargetOptions.cs
  src/HeapDump/GCHeapDumper.cs
  src/HeapDumpDLL/HeapDumpDLL.csproj
  src/PerfView.Tests/StartupTests.cs
  src/PerfView/PerfView.csproj
  src/TraceEvent/TraceEvent.Tests/Memory/ClrMD_Dependencies.cs
  src/TraceEvent/TraceEvent.Tests/Memory/ClrMdDataTargetOptionsTests.cs
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Bump release version to 4.0.0
  src/Directory.Build.props
Due: none

Bump release version to 4.0.0 (#2479)
  src/Directory.Build.props
Due: none

Secure perfcollect session state
  .ado.yml
  .gitattributes
  .gitignore
  .pipelines/perfcollect-job.yml
  src/perfcollect/.dockerignore
  src/perfcollect/perfcollect
  src/perfcollect/tests/build-containers.sh
  src/perfcollect/tests/container-entrypoint.sh
  src/perfcollect/tests/containers/install-test-packages.sh
  src/perfcollect/tests/containers/mariner-2.0.dockerfile
  src/perfcollect/tests/containers/matrix.dockerfile
  src/perfcollect/tests/fixtures/integration/cpu-workload.c
  src/perfcollect/tests/fixtures/integration/perfcollect-ust-events.h
  src/perfcollect/tests/fixtures/integration/ust-producer.c
  src/perfcollect/tests/run-container.sh
  src/perfcollect/tests/run-containers.sh
  src/perfcollect/tests/session-integration-tests.sh
Due: none

Select CI jobs by changed paths
  .ado.yml
  .pipelines/perfcollect-job.yml
Due: none

Share perfcollect CI across mirrors
  .ado.yml
  .pipelines/perfcollect-job.yml
  .pipelines/perfcollect-jobs.yml
Due: none

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
