Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Fix jitted code symbols in universal traces to show assembly names instead of memfd:doublemapper (#2269)
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalSymbolParsingTest.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Add support for IRQ events
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
Due: production

Use themed background brush for menu and filter
  src/PerfView/MainWindow.xaml
Due: production

Use themed background brush for menu and filter (#2272)
  src/PerfView/MainWindow.xaml
Due: production

Update NetTraceFormat.md
  src/TraceEvent/EventPipe/NetTraceFormat.md
Due: production

Update NetTraceFormat.md (#2273)
  src/TraceEvent/EventPipe/NetTraceFormat.md
Due: production

Improve rendering and dark mode
  PerfView.sln
  src/Directory.Build.props
  src/Directory.Packages.props
  src/PerfView/ClrStats.cs
  src/PerfView/Dialogs/SelectProcess.xaml
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/GcStats.cs
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml.cs
  src/PerfView/MainWindow.xaml
  src/PerfView/PerfView.csproj
  src/PerfView/PerfViewData.cs
  src/PerfView/StackViewer/PerfDataGrid.xaml
  src/PerfView/SupportFiles/EventCounterVisualization.html
  src/PerfView/SupportFiles/HtmlReportUsersGuide.htm
  src/PerfView/SupportFiles/PerfViewWebVideos.htm
  src/PerfView/SupportFiles/UsersGuide.htm
  src/PerfView/Themes/DarkTheme.xaml
  src/PerfView/app.manifest
Due: production

Improve rendering and dark mode (#2274)
  PerfView.sln
  src/Directory.Build.props
  src/Directory.Packages.props
  src/PerfView/ClrStats.cs
  src/PerfView/Dialogs/SelectProcess.xaml
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/GcStats.cs
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml.cs
  src/PerfView/MainWindow.xaml
  src/PerfView/PerfView.csproj
  src/PerfView/PerfViewData.cs
  src/PerfView/StackViewer/PerfDataGrid.xaml
  src/PerfView/SupportFiles/EventCounterVisualization.html
  src/PerfView/SupportFiles/HtmlReportUsersGuide.htm
  src/PerfView/SupportFiles/PerfViewWebVideos.htm
  src/PerfView/SupportFiles/UsersGuide.htm
  src/PerfView/Themes/DarkTheme.xaml
  src/PerfView/app.manifest
Due: production

Remove use of VisualStudioCredential.
  src/HeapDump/Program.cs
  src/PerfView/Authentication.cs
Due: production

Add a themed dialog
  global.json
  src/Directory.Build.props
  src/Directory.Packages.props
  src/PerfView/App.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/Dialogs/ImageHelpers.cs
  src/PerfView/Dialogs/ManagePresetsDialog.xaml.cs
  src/PerfView/Dialogs/MemoryDataDialog.xaml.cs
  src/PerfView/Dialogs/MessageBoxWindow.xaml
  src/PerfView/Dialogs/MessageBoxWindow.xaml.cs
  src/PerfView/Dialogs/NewPresetDialog.xaml.cs
  src/PerfView/Dialogs/XamlMessageBox.cs
  src/PerfView/HeapView/IssueView.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/NativeMethods.json
  src/PerfView/NativeMethods.txt
  src/PerfView/PerfView.csproj
  src/PerfView/PerfViewData.cs
  src/PerfView/StackViewer/StackWindow.xaml.cs
  src/PerfView/Themes/DarkTheme.xaml
  src/PerfView/Themes/LightTheme.xaml
Due: production

Fix build.
  src/PerfView/Authentication.cs
  src/PerfView/CommandLineArgs.cs
Due: production

Fix command line handling for PerfView and HeapDump.
  src/HeapDump/GCHeapDumper.cs
  src/HeapDump/Program.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/memory/HeapSnapshot.cs
Due: production

Fix incorrect version System.Runtime.CompilerServices.Unsafe.dll for HeapDump.
  src/PerfView/PerfView.csproj
Due: production

Code review feedback.
  src/HeapDump/GCHeapDumper.cs
  src/HeapDump/HeapDump.csproj
  src/HeapDump/Program.cs
  src/PerfView/Authentication.cs
  src/PerfView/CommandLineArgs.cs
  src/PerfView/PerfView.csproj
  src/PerfViewCollect/PerfViewCollect.csproj
  src/Utilities/SymbolsAuthenticationUtilities.cs
  src/Utilities/Utilities.csproj
Due: production

Implement configurable symbol server authentication with /SymbolsAuth command line argument for PerfView and HeapDump (#2278)
  src/HeapDump/GCHeapDumper.cs
  src/HeapDump/HeapDump.csproj
  src/HeapDump/Program.cs
  src/PerfView/Authentication.cs
  src/PerfView/CommandLineArgs.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/PerfView.csproj
  src/PerfView/memory/HeapSnapshot.cs
  src/PerfViewCollect/PerfViewCollect.csproj
  src/Utilities/SymbolsAuthenticationUtilities.cs
  src/Utilities/Utilities.csproj
Due: production

NetTrace LabelList metadata overrides and metadata flushing
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/LabelListCache.cs
  src/TraceEvent/EventPipe/NetTraceFormat.md
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Add a themed dialog (#2276)
  global.json
  src/Directory.Build.props
  src/Directory.Packages.props
  src/PerfView/App.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/Dialogs/ImageHelpers.cs
  src/PerfView/Dialogs/ManagePresetsDialog.xaml.cs
  src/PerfView/Dialogs/MemoryDataDialog.xaml.cs
  src/PerfView/Dialogs/MessageBoxWindow.xaml
  src/PerfView/Dialogs/MessageBoxWindow.xaml.cs
  src/PerfView/Dialogs/NewPresetDialog.xaml.cs
  src/PerfView/Dialogs/XamlMessageBox.cs
  src/PerfView/HeapView/IssueView.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/NativeMethods.json
  src/PerfView/NativeMethods.txt
  src/PerfView/PerfView.csproj
  src/PerfView/PerfViewData.cs
  src/PerfView/StackViewer/StackWindow.xaml.cs
  src/PerfView/Themes/DarkTheme.xaml
  src/PerfView/Themes/LightTheme.xaml
Due: production

Add support for explicit zero opcode label overriding templates, but if the opcode is absent the template won't be overriden.
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Remove test.
  src/PerfView.Tests/StackViewer/StackWindowTests.cs
Due: test

Fix regression: "Goto Item in Callers/Callees" now accumulates across all threads (#2284)
  src/PerfView/StackViewer/StackWindow.xaml.cs
Due: production

Fix ValidateStackFields to work for older NetTrace format versions too
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
Due: production

Code clean-up.
  src/TraceEvent/TraceLog.cs
Due: production

Fix parsing issues and add support for additional events to the Linux perf text file parser (#2286)
  src/LinuxTracing.Tests/EventParseTests.cs
  src/LinuxTracing.Tests/Sources/disk_io_no_stacks.perf.data.dump
  src/LinuxTracing.Tests/Sources/exec_process.perf.data.dump
  src/LinuxTracing.Tests/Sources/no_stack_frames.perf.data.dump
  src/LinuxTracing.Tests/Sources/one_wakeup.perf.data.dump
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
Due: production, test

Fix TraceLog live session RelatedActivityID/ContainerID corruption by preserving ExtendedData (#2285)
  src/TraceEvent/TraceLog.cs
Due: production

Remove unneeded opcode re-assignment
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
Due: production

NetTrace LabelList metadata overrides and metadata flushing (#2281)
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/LabelListCache.cs
  src/TraceEvent/EventPipe/NetTraceFormat.md
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Bump version
  src/Directory.Build.props
Due: none

Fix NullReferenceException in ProviderBrowser.LevelSelected when deselecting level (#2289)
  src/PerfView/Dialogs/ProviderBrowser.xaml.cs
Due: production

Bump version (#2290)
  src/Directory.Build.props
Due: none

Only dispose non-null handles in ETWTraceEventSource.
  src/TraceEvent/ETWTraceEventSource.cs
Due: production

Also check if the handle is valid before disposing it.
  src/TraceEvent/ETWTraceEventSource.cs
Due: production

Only Dispose Non-Null Handles in ETWTraceEventSource (#2291)
  src/TraceEvent/ETWTraceEventSource.cs
Due: production

Small cleanup in NettraceUniversalConverter.
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
Due: production

Small cleanup in NettraceUniversalConverter. (#2292)
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
Due: production

Revert "Remove menu icon hyperlinks and filter label from tab order"
  src/PerfView/MainWindow.xaml
Due: production

Initial implementation of universal thread time view.
  src/PerfView/PerfViewData.cs
  src/TraceEvent/Computers/ThreadTimeComputer.cs
Due: production

Fix hyperlink focus visibility in dark mode and improve keyboard navigation (#2295)
  src/PerfView/Themes/DarkTheme.xaml
Due: production

Gracefully handle invalid characters in PATH.
  src/PerfView/SymbolReaderHttpHandler.cs
Due: production

Gracefully handle invalid characters in PATH. (#2296)
  src/PerfView/SymbolReaderHttpHandler.cs
Due: production
