Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

Upgrade Microsoft.Windows.CsWin32 to 0.3.209 (GHSA-ghhp-997w-qr28) (#2409)
  src/Directory.Packages.props
Due: none

Enable Spectre mitigations and linker optimizations for EtwClrProfiler (#2410)
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Fix 'unhanded' / 'occured' typos in UnhandledExceptionDialog body text
  src/PerfView/Dialogs/UnhandledExceptionDialog.xaml.cs
Due: production

Fix 'unhanded' / 'occured' typos in UnhandledExceptionDialog body text (#2413)
  src/PerfView/Dialogs/UnhandledExceptionDialog.xaml.cs
Due: production

Fix GCStats failures on dotnet trace gc-verbose collections (#2414)
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Fix GCStats failures on dotnet trace gc-verbose collections (#2414) (#2415)
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Fix executable symbol-server lookup URL for TimeDateStamps with leading zero
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

Add support for showing stacks from selected events:
  src/PerfView/EventViewer/EventWindow.xaml.cs
  src/PerfView/PerfViewData.cs
  src/TraceEvent/Stacks/Stacks.cs
Due: production

Stop lowercasing module file names
  src/TraceEvent/TraceLog.cs
Due: production

Allow <module!_start as a valid top frame
  src/TraceEvent/TraceEventStacks.cs
Due: production

Add one to symbol length to catch addresses on symbol boundaries, like _start
  src/TraceEvent/TraceLog.cs
Due: production

C entrypoint fixes (#2421)
  src/TraceEvent/TraceEventStacks.cs
  src/TraceEvent/TraceLog.cs
Due: production

Bump version to 3.2.3
  src/Directory.Build.props
Due: none

Bump version to 3.2.3 (#2423)
  src/Directory.Build.props
Due: none

Replace PAT with WIF service connection in mirror pipeline
  .pipelines/mirror.yml
Due: none

Replace PAT with WIF service connection in mirror pipeline (#2424)
  .pipelines/mirror.yml
Due: none

Update CsWin32 package version
  src/Directory.Packages.props
Due: none

Update CsWin32 package version (#2425)
  src/Directory.Packages.props
Due: none

Retarget native profiler builds to VS 2026 v145
  .ado.yml
  .github/agents/issue-triager.md
  .github/copilot-instructions.md
  .pipelines/perfview-job.yml
  README.md
  documentation/SettingUpRepoInVS.md
  documentation/SimpleGitWorkflow.md
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Retarget native profiler builds to VS 2026 v145 (#2428)
  .ado.yml
  .github/agents/issue-triager.md
  .github/copilot-instructions.md
  .pipelines/perfview-job.yml
  README.md
  documentation/SettingUpRepoInVS.md
  documentation/SimpleGitWorkflow.md
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Stabilize XamlMessageBox UI-thread dispatch test
  src/PerfView.Tests/Dialogs/XamlMessageBoxTests.cs
Due: test

Stabilize XamlMessageBox UI-thread dispatch test (#2430)
  src/PerfView.Tests/Dialogs/XamlMessageBoxTests.cs
Due: test

Fix incorrect field offsets when parsing ETW events with fixed-count array fields (#2427)
  src/TraceEvent/RegisteredTraceEventParser.cs
Due: production

Support embedded portable PDBs for managed symbol resolution
  PerfView.sln
  src/TraceEvent/Symbols/PortableSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/EmbeddedPdbTestApp/EmbeddedPdbTestApp.csproj
  src/TraceEvent/TraceEvent.Tests/EmbeddedPdbTestApp/EmbeddedTarget.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
  src/TraceEvent/TraceLog.cs
Due: production, test

Build embedded-PDB test fixture unoptimized for stable source lines
  src/TraceEvent/TraceEvent.Tests/EmbeddedPdbTestApp/EmbeddedPdbTestApp.csproj
Due: production, test

Remove test-only OpenSymbolFileForModuleFile wrapper
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

Fix endian serialization for eventpipe libraries
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/FastSerialization.csproj
  src/FastSerialization/StreamReaderWriter.cs
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/EventPipe/RewindableStream.cs
  src/TraceEvent/EventPipe/SpanReader.cs
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/TraceEventSession.cs
  src/TraceEvent/TraceLog.cs
Due: production

refactor patch
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/StreamReaderWriter.cs
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceLog.cs
Due: production

Fix BPerf WildCopy so short copies do not write past the requested output range
  src/TraceEvent/BPerf/BPerfEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/BPerfTest.cs
Due: production, test

Validate BPerf event record bounds
  src/TraceEvent/BPerf/BPerfEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Regression/BPerfEventSourceTests.cs
Due: production, test

Fix source-server path traversal and command injection
  src/Directory.Packages.props
  src/PerfView/App.cs
  src/PerfView/PerfView.csproj
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/NativeSymbolModuleTests.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SourceServerCommandTests.cs
  src/TraceEvent/TraceEvent.csproj
Due: production, test

Validate PDB extraction target paths against the symbol directory
  src/PerfView/Extensibility.cs
  src/PerfView/PerfView.csproj
  src/PerfViewCollect/PerfViewCollect.csproj
  src/TraceEvent/TraceEvent.Tests/Regression/ZippedETLTests.cs
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/ZippedETL.cs
  src/Utilities/SymbolCachePathUtilities.cs
Due: production, test

Sanitize R2R perf map symbol paths
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

Constrain DiagSession resource extraction paths
  src/PerfView.Tests/DiagSessionPerfViewFileTests.cs
  src/PerfView/PerfViewData.cs
Due: production, test

Validate PdbScope XML module paths
  src/PerfView.Tests/Memory/PathUtilitiesTests.cs
  src/PerfView.Tests/Memory/PdbScopeMemoryGraphTests.cs
  src/PerfView/PerfView.csproj
  src/PerfView/memory/PdbScopeMemoryGraph.cs
  src/Utilities/PathUtilities.cs
Due: production, test

Validate dynamic event array bounds
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Sanitize provider names when writing dynamic manifests
  src/PerfView.Tests/Memory/PathUtilitiesTests.cs
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/DynamicTraceEventParserTests.cs
  src/TraceEvent/TraceEvent.csproj
  src/Utilities/PathUtilities.cs
Due: production, test

Bounds-check StackBytesSize in EventPipe V3 event headers
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeV3StackParsingTests.cs
Due: production, test

Bounds-check GCDynamic event payloads
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Regression/GCDynamicTraceEventParserTests.cs
Due: production, test

Bound CodeView PDB filename read by IMAGE_DEBUG_DIRECTORY SizeOfData
  src/TraceEvent/TraceEvent.Tests/Utilities/PEFileTests.cs
  src/TraceEvent/TraceUtilities/PEFile.cs
Due: production, test

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
