Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

use net8 in testutils
  src/PerfView.TestUtilities/PerfView.TestUtilities.csproj
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Condemned Reason for Aggressive GC
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Move choise to "View"
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Chromium Timestamp is in microseconds
  src/TraceEvent/Stacks/ChromiumStackSourceWriter.cs
Due: production

Stack view for Contention events (#2000)
  .gitignore
  src/PerfView/PerfViewData.cs
  src/PerfView/SupportFiles/UsersGuide.htm
  src/TraceEvent/Computers/StartStopLatencyComputer.cs
Due: production

Display timestamp while view ETW event (#2008)
  src/PerfView/EtwEventSource.cs
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/EventViewer/EventWindow.xaml.cs
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

roll back debug assert change in tracelog
  src/TraceEvent/TraceLog.cs
Due: production

Chromium Timestamp is in microseconds (#2013)
  src/TraceEvent/Stacks/ChromiumStackSourceWriter.cs
Due: production

Condemned Reason for Aggressive GC (#2011)
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Fix typo in TraceEventProgrammersGuide.md.
  documentation/TraceEvent/TraceEventProgrammersGuide.md
Due: none

Fix detection of PerHeapHistories events presence (#1979)
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

added some output for showing whether a request has an associated unhandled exception event or not
  src/PerfView/PerfViewData.cs
Due: production

Fix typo in TraceEventProgrammersGuide.md. (#2014)
  documentation/TraceEvent/TraceEventProgrammersGuide.md
Due: none

add check for empty GUID ActivityId
  src/PerfView/PerfViewData.cs
Due: production

Remove dependency on Microsoft.NETCore.Portable.Compatibility
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove unused code
  src/PerfView/CommandProcessor.cs
Due: production

Update PerfViewCollect to .NET 8
  src/PerfViewCollect/PerfViewCollect.csproj
Due: none

fix duplication of requests due to closing and reopening of the view (by instantiating new structures for tracking the requests and events each time the view is opened)
  src/PerfView/PerfViewData.cs
Due: production

Fix NuGet warnings in TraceEventSamples.csproj
  src/TraceEvent/Samples/TraceEventSamples.csproj
Due: production

quick update for previous commit
  src/PerfView/PerfViewData.cs
Due: production

Fix test warnings
  src/PerfView.TestUtilities/ThrowingTraceListener.cs
  src/TraceEvent/TraceEvent.Tests/AutomatedAnalysis/AnalyzerResolverTests.cs
  src/TraceEvent/TraceEvent.Tests/Memory/ClrMD_Dependencies.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/BPerfTest.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/SegmentedDictionary/ICollection.Generic.Tests.cs
  src/TraceEvent/TraceEvent.Tests/SegmentedDictionary/SegmentedDictionary.Generic.Tests.cs
  src/TraceEvent/TraceEvent.Tests/Strace/StraceStackSourceTests.cs
Due: production, test

Suppress test warning VSTHRD001, which recommends switching to JoinableTaskFactory.SwitchToMainThreadAsync
  src/PerfView.Tests/Utilities/PerfViewTestBase.cs
Due: test

Fix Build Warnings (#2018)
  src/PerfView.TestUtilities/ThrowingTraceListener.cs
  src/PerfView.Tests/Utilities/PerfViewTestBase.cs
  src/PerfView/CommandProcessor.cs
  src/PerfViewCollect/PerfViewCollect.csproj
  src/TraceEvent/Samples/TraceEventSamples.csproj
  src/TraceEvent/TraceEvent.Tests/AutomatedAnalysis/AnalyzerResolverTests.cs
  src/TraceEvent/TraceEvent.Tests/Memory/ClrMD_Dependencies.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/BPerfTest.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/SegmentedDictionary/ICollection.Generic.Tests.cs
  src/TraceEvent/TraceEvent.Tests/SegmentedDictionary/SegmentedDictionary.Generic.Tests.cs
  src/TraceEvent/TraceEvent.Tests/Strace/StraceStackSourceTests.cs
Due: production, test

Remove dependency on Microsoft.NETCore.Portable.Compatibility (#2017)
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Fix log output typo.
  src/PerfView/CommandProcessor.cs
Due: production

Fix log output typo. (#2020)
  src/PerfView/CommandProcessor.cs
Due: production

Update Azure.Identity to 1.11.0
  src/Directory.Build.props
Due: none

Update transitive dependencies of Azure.Identity
  src/Directory.Build.props
Due: none

Update Azure.Identity to 1.11.0 (#2023)
  src/Directory.Build.props
Due: none

remove a request.IsComplete check that was not needed
  src/PerfView/PerfViewData.cs
Due: production

Add ASP.NET Core Stats view (#2001)
  src/PerfView/PerfViewData.cs
Due: production

Increment Release Versions
  src/Directory.Build.props
Due: none

Increment Release Versions (#2025)
  src/Directory.Build.props
Due: none

Expose times array
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

added ability to click ActivityIds for requests in all tables that opens the Events window with that ActivityId as a text filter (along with start/end times set)
  src/PerfView/PerfViewData.cs
Due: production

Code Review Feedback
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

added ability to click ActivityIds for requests in all tables that opens the Events window with that ActivityId as a text filter (along with start/end times set) (#2028)
  src/PerfView/PerfViewData.cs
Due: production

Update more comments
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Expose times array (#2027)
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Address overflow of maxSizeMB when converting from MB to bytes.
  src/PerfView/CommandProcessor.cs
Due: production

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
