Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

- Rename SerializationConfiguration --> SerializationSettings. - Require an instance of SerializationSettings for serializers and deserializers.
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/SegmentedMemoryStreamReader.cs
  src/FastSerialization/SegmentedMemoryStreamWriter.cs
  src/FastSerialization/StreamReaderWriter.cs
  src/HeapDump/GCHeapDump.cs
  src/HeapDump/GCHeapDumper.cs
  src/MemoryGraph/MemoryGraph.cs
  src/MemoryGraph/graph.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Serialization/FastSerializerTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Require a SerializationSettings property for both IStreamReader and IStreamWriter to allow writers to directly create readers.
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/MemoryMappedFileStreamReader.cs
  src/FastSerialization/SegmentedMemoryStreamReader.cs
  src/FastSerialization/SegmentedMemoryStreamWriter.cs
  src/FastSerialization/StreamReaderWriter.cs
Due: production

Refactor SerializationSettings to clone on mutation. This ensures that usres can't change the set of allowed types after it is set and handed to the deserialization code.
  src/FastSerialization/FastSerialization.cs
  src/HeapDump/GCHeapDump.cs
  src/HeapDump/GCHeapDumper.cs
  src/MemoryGraph/MemoryGraph.cs
  src/MemoryGraph/graph.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Serialization/FastSerializerTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Accessibility Fixes
  src/Directory.Build.props
  src/PerfView/Dialogs/FileInputAndOutput.xaml
  src/PerfView/Dialogs/MemoryDataDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml.cs
  src/PerfView/Dialogs/SymbolPathDialog.xaml
  src/PerfView/Dialogs/UserCommandDialog.xaml
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/EventViewer/EventWindow.xaml.cs
  src/PerfView/Extensibility.cs
  src/PerfView/GuiUtilities/StatusBar/StatusBar.xaml
  src/PerfView/GuiUtilities/TextEditor/TextEditorControl.xaml
  src/PerfView/GuiUtilities/TextEditor/TextEditorWindow.xaml
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml.cs
  src/PerfView/HeapView/GcInfoView.cs
  src/PerfView/MainWindow.xaml
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/PerfView.csproj
  src/PerfView/PerfViewData.cs
  src/PerfView/StackViewer/PerfDataGrid.xaml
  src/PerfView/StackViewer/StackWindow.xaml
  src/PerfView/StackViewer/StackWindow.xaml.cs
  src/PerfView/SupportFiles/UsersGuide.htm
  src/PerfView/Themes/DarkTheme.xaml
  src/PerfView/Utilities/ProcessTree.cs
  src/PerfView/app.config
Due: production

Configure SourceLink to embed source files.
  src/Directory.Build.props
Due: none

Undo background change for UserCommandDialog
  src/PerfView/Dialogs/UserCommandDialog.xaml
Due: production

Undo unintended change to Mark Textbox size
  src/PerfView/Dialogs/RunCommandDialog.xaml
Due: production

Produce portable PDBs for all artifacts to enable embedded sources.
  src/Directory.Build.props
  src/FastSerialization/FastSerialization.csproj
  src/SymbolsAuth/SymbolsAuth.csproj
Due: production

Refactor FastSerialization factories and add known types.
  src/FastSerialization/FastSerialization.cs
  src/HeapDump/GCHeapDump.cs
  src/HeapDump/GCHeapDumper.cs
  src/HeapDump/HeapDump.csproj
  src/MemoryGraph/MemoryGraph.cs
  src/MemoryGraph/graph.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Serialization/FastSerializerTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Configure SourceLink to Embed Source Files in PDBs (#2119)
  src/Directory.Build.props
  src/FastSerialization/FastSerialization.csproj
  src/SymbolsAuth/SymbolsAuth.csproj
Due: production

Add tests and remove RegisterType(string) because users will need to provide enough context to find the right assembly.
  src/FastSerialization/FastSerialization.cs
  src/TraceEvent/TraceEvent.Tests/Serialization/FastSerializerTests.cs
Due: production, test

Move StreamReaderAlignment into SerializationSettings.
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/StreamReaderWriter.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Undo RID change to HeapDump.csproj.
  src/HeapDump/HeapDump.csproj
Due: production

Address PR comments
  src/PerfView/App.cs
  src/PerfView/Extensibility.cs
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/PerfView.csproj
  src/PerfView/PerfViewData.cs
  src/PerfView/app.config
  src/PerfViewExtensions/GlobalSrc/Commands.cs
Due: production

Address accessibility issues (#2120)
  src/Directory.Build.props
  src/PerfView/App.cs
  src/PerfView/Dialogs/FileInputAndOutput.xaml
  src/PerfView/Dialogs/MemoryDataDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml.cs
  src/PerfView/Dialogs/SymbolPathDialog.xaml
  src/PerfView/Dialogs/UserCommandDialog.xaml
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/EventViewer/EventWindow.xaml.cs
  src/PerfView/Extensibility.cs
  src/PerfView/GuiUtilities/StatusBar/StatusBar.xaml
  src/PerfView/GuiUtilities/TextEditor/TextEditorControl.xaml
  src/PerfView/GuiUtilities/TextEditor/TextEditorWindow.xaml
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml.cs
  src/PerfView/HeapView/GcInfoView.cs
  src/PerfView/MainWindow.xaml
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/PerfView.csproj
  src/PerfView/PerfViewData.cs
  src/PerfView/StackViewer/PerfDataGrid.xaml
  src/PerfView/StackViewer/StackWindow.xaml
  src/PerfView/StackViewer/StackWindow.xaml.cs
  src/PerfView/SupportFiles/UsersGuide.htm
  src/PerfView/Themes/DarkTheme.xaml
  src/PerfView/Utilities/ProcessTree.cs
  src/PerfViewExtensions/GlobalSrc/Commands.cs
Due: production

Specify runtime identifiers win7-x64 and win-x64 for HeapDump.csproj to address build failures in newer versions of Visual Studio.
  src/HeapDump/HeapDump.csproj
Due: production

Specify runtime identifiers win7-x64 and win-x64 for HeapDump.csproj to (#2123)
  src/HeapDump/HeapDump.csproj
Due: production

Remove unused code.
  src/CSVReader/CsvReader.cs
  src/CSVReader/ETLStackBrowse/Trace.cs
  src/FastSerialization/CompressedStream.cs
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/MemoryMappedFileStreamWriter.cs
  src/HeapDump/GCHeapDumper.cs
  src/MemoryGraph/MemoryGraph.cs
  src/MemoryGraph/graph.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/EtwEventSource.cs
  src/PerfView/Extensibility.cs
  src/PerfView/GcStats.cs
  src/PerfView/IProcess.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/ObjectViewer/ObjectViewer.xaml.cs
  src/PerfView/ObjectViewer/TreeViewGrid.xaml.cs
  src/PerfView/PerfViewData.cs
  src/PerfView/StackViewer/CallTreeView.cs
  src/PerfView/StackViewer/StackWindow.xaml.cs
  src/PerfView/StateMachineFramework/ServerRequestComputer.cs
  src/PerfView/UserCommands.cs
  src/PerfView/memory/ClrProfilerMemoryGraph.cs
  src/PerfView/memory/MemoryGraphStackSource.cs
  src/TraceEvent/Computers/ActivityComputer.cs
  src/TraceEvent/Computers/GCReferenceComputer.cs
  src/TraceEvent/Computers/ThreadTimeComputer.cs
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/EventCounterSource.cs
  src/TraceEvent/Parsers/JScriptTraceEventParser.cs
  src/TraceEvent/Parsers/KernelTraceEventParser.cs
  src/TraceEvent/Stacks/Stacks.cs
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/TraceEventNativeMethods.cs
  src/TraceEvent/TraceLog.cs
  src/TraceEvent/Utilities/Cache.cs
  src/TraceEvent/Utilities/command.cs
  src/TraceParserGen/Library/Util/Command.cs
Due: production

Remove unused code from InteropReport.
  src/PerfView/InteropReport.cs
Due: production

Remove old todo list.
  src/PerfView/MainWindow.xaml.cs
Due: production

Fix warning.
  src/MemoryGraph/graph.cs
Due: production

Remove Unused Code (#2124)
  src/CSVReader/CsvReader.cs
  src/CSVReader/ETLStackBrowse/Trace.cs
  src/FastSerialization/CompressedStream.cs
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/MemoryMappedFileStreamWriter.cs
  src/HeapDump/GCHeapDumper.cs
  src/MemoryGraph/MemoryGraph.cs
  src/MemoryGraph/graph.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/EtwEventSource.cs
  src/PerfView/Extensibility.cs
  src/PerfView/GcStats.cs
  src/PerfView/IProcess.cs
  src/PerfView/InteropReport.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/ObjectViewer/ObjectViewer.xaml.cs
  src/PerfView/ObjectViewer/TreeViewGrid.xaml.cs
  src/PerfView/PerfViewData.cs
  src/PerfView/StackViewer/CallTreeView.cs
  src/PerfView/StackViewer/StackWindow.xaml.cs
  src/PerfView/StateMachineFramework/ServerRequestComputer.cs
  src/PerfView/UserCommands.cs
  src/PerfView/memory/ClrProfilerMemoryGraph.cs
  src/PerfView/memory/MemoryGraphStackSource.cs
  src/TraceEvent/Computers/ActivityComputer.cs
  src/TraceEvent/Computers/GCReferenceComputer.cs
  src/TraceEvent/Computers/ThreadTimeComputer.cs
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/EventCounterSource.cs
  src/TraceEvent/Parsers/JScriptTraceEventParser.cs
  src/TraceEvent/Parsers/KernelTraceEventParser.cs
  src/TraceEvent/Stacks/Stacks.cs
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/TraceEventNativeMethods.cs
  src/TraceEvent/TraceLog.cs
  src/TraceEvent/Utilities/Cache.cs
  src/TraceEvent/Utilities/command.cs
  src/TraceParserGen/Library/Util/Command.cs
Due: production

Rename SetXXX --> WithXXX since it doesn't change the current instance.
  src/FastSerialization/FastSerialization.cs
  src/HeapDump/GCHeapDump.cs
  src/HeapDump/GCHeapDumper.cs
  src/MemoryGraph/graph.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Serialization/FastSerializerTests.cs
Due: production, test

Simplify based on feedback.
  src/FastSerialization/MemoryMappedFileStreamReader.cs
  src/FastSerialization/SegmentedMemoryStreamReader.cs
  src/FastSerialization/SegmentedMemoryStreamWriter.cs
  src/FastSerialization/StreamReaderWriter.cs
  src/TraceEvent/TraceEvent.Tests/Serialization/FastSerializerTests.cs
Due: production, test

Breaking Changes for FastSerialization (#2121)
  src/FastSerialization/FastSerialization.cs
  src/FastSerialization/MemoryMappedFileStreamReader.cs
  src/FastSerialization/SegmentedMemoryStreamReader.cs
  src/FastSerialization/SegmentedMemoryStreamWriter.cs
  src/FastSerialization/StreamReaderWriter.cs
  src/HeapDump/GCHeapDump.cs
  src/HeapDump/GCHeapDumper.cs
  src/MemoryGraph/MemoryGraph.cs
  src/MemoryGraph/graph.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Serialization/FastSerializerTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Increment Build Versions.
  src/Directory.Build.props
Due: none

Increment Build Versions. (#2126)
  src/Directory.Build.props
Due: none

Fix build status icon.
  README.md
Due: none

Fix build status icon. (#2128)
  README.md
Due: none

Address CVE-2024-43485 in System.Text.Json.
  src/Directory.Build.props
Due: none

Address CVE-2024-43485 in System.Text.Json. (#2129)
  src/Directory.Build.props
Due: none

Add a CODEOWNERS file.
  .github/CODEOWNERS
Due: none

Add a CODEOWNERS file. (#2131)
  .github/CODEOWNERS
Due: none

[DO NOT MERGE] Test PR
  .github/CODEOWNERS
Due: none

:bug: FIX: perfcollect install script Azure Linux 3
  src/perfcollect/perfcollect
Due: none

:bug: FIX: perfcollect install script Azure Linux 3 (#2135)
  src/perfcollect/perfcollect
Due: none

Bump version
  src/Directory.Build.props
Due: none

Bump version (#2136)
  src/Directory.Build.props
Due: none

Update start stop activity computer to support OpenTelemetry-SDK event source
  src/TraceEvent/Computers/StartStopActivityComputer.cs
Due: production

Move down the logic a bit
  src/TraceEvent/Computers/StartStopActivityComputer.cs
Due: production

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
