Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Address overflow of maxSizeMB when converting from MB to bytes. (#2029)
  src/PerfView/CommandProcessor.cs
Due: production

need rundown for GCTriggeredStacks
  src/PerfView/CommandLineArgs.cs
Due: production

need rundown for GCTriggeredStacks (#2031)
  src/PerfView/CommandLineArgs.cs
Due: production

Disable V2 rundown by default.
  src/PerfView/CommandLineArgs.cs
Due: production

Disable V2 rundown by default. (#2033)
  src/PerfView/CommandLineArgs.cs
Due: production

Add Symweb authentication support.
  src/Directory.Build.props
  src/PerfView/Authentication.cs
  src/PerfView/PerfView.csproj
  src/PerfView/SymbolReaderHttpHandler.cs
  src/TraceEvent/Symbols/SymbolPath.cs
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

Update SymbolReader to only download headers before starting to display download progress.
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

fix: clean up termporary data structures for realtime eventpipe source
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

chore: roll back some changes
  src/PerfView.Tests/StackViewer/StackWindowTests.cs
Due: test

docs
  src/TraceEvent/TraceLog.cs
Due: production

Remove PackageReference to System.Diagnostics.Process.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove PackageReference for System.Diagnostics.TraceSource.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove PackageReference to System.IO.Compression.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
  src/TraceEvent/TraceEvent.csproj
Due: production, test

Remove PackageReference to System.IO.UnmanagedMemoryStream.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove PackageReference to System.Net.Requests.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove PackageReference to System.Net.NameResolution.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove PackageReference to System.Runtime.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove PackageReference to System.Security.Cryptography.Algorithms.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove PackageReference to System.Threading.Tasks.Parallel.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove PackageReference to System.Threading.Thread.
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.csproj
Due: production

Fix the Contention Stacks view for .NET Framework and older .NET Core processes.
  src/TraceEvent/Computers/StartStopLatencyComputer.cs
Due: production

Remove Unnecessary PackageReferences (#2037)
  src/Directory.Build.props
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
  src/TraceEvent/TraceEvent.csproj
Due: production, test

Fix the Contention Stacks view for .NET Framework and older .NET Core (#2038)
  src/TraceEvent/Computers/StartStopLatencyComputer.cs
Due: production

Add Support for Symweb Authentication to PerfView (#2039)
  src/Directory.Build.props
  src/PerfView/Authentication.cs
  src/PerfView/PerfView.csproj
  src/PerfView/SymbolReaderHttpHandler.cs
  src/TraceEvent/Symbols/SymbolPath.cs
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

Disable CodeQL scanning for code-mirror jobs.
  .pipelines/mirror.yml
Due: none

Disable CodeQL scanning for code-mirror jobs. (#2041)
  .pipelines/mirror.yml
Due: none

Fix yaml spacing.
  .pipelines/mirror.yml
Due: none

Fix yaml spacing. (#2042)
  .pipelines/mirror.yml
Due: none

Increment Version Numbers.
  src/Directory.Build.props
Due: none

Increment Version Numbers. (#2044)
  src/Directory.Build.props
Due: none

Initial project and NuGet package structure.
  PerfView.sln
  src/Directory.Build.props
  src/SymbolsAuth/Microsoft.Diagnostics.Tracing.TraceEvent.SymbolsAuthentication.nuspec
  src/SymbolsAuth/SymbolsAuth.csproj
Due: none

Move SymbolReaderHttpHandler and associated interfaces to new project.
  src/PerfView/Authentication.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/PerfView.csproj
  src/PerfView/SymbolReaderHttpHandler.cs
  src/SymbolsAuth/Microsoft.Diagnostics.Tracing.TraceEvent.SymbolsAuthentication.nuspec
  src/SymbolsAuth/SymbolReaderHttpHandler.cs
  src/SymbolsAuth/SymbolsAuth.csproj
  src/SymbolsAuth/SymwebHandler.cs
Due: production

Move authentication tests to a new test project.
  .pipelines/perfview-job.yml
  PerfView.sln
  src/PerfView.Tests/AuthenticationTests.cs
  src/SymbolsAuth.Tests/AuthenticationTests.cs
  src/SymbolsAuth.Tests/SymbolsAuth.Tests.csproj
  src/SymbolsAuth.Tests/app.config
  src/SymbolsAuth.Tests/xunit.runner.json
Due: test

Pack Microsoft.Diagnostics.Tracing.TraceEvent.SymbolsAuthentication.dll into PerfView.exe.
  src/PerfView/PerfView.csproj
Due: production

Rename classes. Remove unnecessary dependency on TraceEvent. Misc clean-up.
  src/PerfView/Authentication.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/SymbolReaderHttpHandler.cs
  src/SymbolsAuth/Microsoft.Diagnostics.Tracing.TraceEvent.SymbolsAuthentication.nuspec
  src/SymbolsAuth/SymbolReaderAuthenticationHandler.cs
  src/SymbolsAuth/SymbolsAuth.csproj
  src/SymbolsAuth/SymwebHandler.cs
Due: production

Add symbols authentication samples.
  src/SymbolsAuth/Samples/1_InteractivePopupAuth.cs
  src/SymbolsAuth/Samples/2_ManagedIdentityAuth.cs
  src/SymbolsAuth/Samples/Program.cs
  src/SymbolsAuth/Samples/Samples.csproj
  src/SymbolsAuth/SymbolsAuth.csproj
Due: none

Update Managed Identity sample to take a client id.
  src/SymbolsAuth/Samples/2_ManagedIdentityAuth.cs
  src/SymbolsAuth/Samples/Program.cs
Due: none

Fix spelling error in CI test job update.
  .pipelines/perfview-job.yml
Due: none

Artifacts are not currently captured properly in CI jobs. Fix this by adjusting the path to contents to be captured.
  .pipelines/perfview-job.yml
Due: none

Rename Samples to SymbolsAuth.Samples.
  PerfView.sln
  src/SymbolsAuth/Samples/Program.cs
  src/SymbolsAuth/Samples/SymbolsAuth.Samples.csproj
Due: none
