Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

Dispose WebView2 controls before Environment.Exit to prevent finalizer crash (#2371)
  src/PerfView/MainWindow.xaml.cs
Due: production

Add ELF symbol metadata to TraceModuleFile
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/TraceLog.cs
Due: production

Replace intermediate data classes with inline XmlWriter fragment rendering
  src/TraceEvent/RegisteredTraceEventParser.cs
Due: production

Strengthen double-escape test with XML-special char tracking
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
Due: production, test

Refactor GetManifestForRegisteredProvider to use XmlWriter (#2353)
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
Due: production, test

docs: Add investigation guidance for JIT-inlined missing stack frames (#2377)
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Fix spurious BROKEN frame at top of Linux thread stacks in CPU Stacks viewer (#2375)
  src/TraceEvent/TraceEventStacks.cs
Due: production

Fix NRE in AddUniversalDynamicSymbol for invalid symbol address ranges
  src/TraceEvent/TraceEvent.Tests/Universal/InvalidSymbolRangeTest.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Fix NRE in AddUniversalDynamicSymbol for invalid symbol address ranges (#2376)
  src/TraceEvent/TraceEvent.Tests/Universal/InvalidSymbolRangeTest.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Add missing authority parameter to log
  src/SymbolsAuth/SymbolReaderAuthenticationHandler.cs
Due: none

Add missing authority parameter to log (#2379)
  src/SymbolsAuth/SymbolReaderAuthenticationHandler.cs
Due: none

Fix Dynamic Symbol Resolution for Mappings Shared Across Multiple Processes in Universal Traces
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
Due: production

Replace individual code owners with microsoft/perfview-reviewers group
  .github/CODEOWNERS
Due: none

Fix hash code calculation for WPP and classic event lookups in TraceEventComparer
  src/TraceEvent/RegisteredTraceEventParser.cs
Due: production

Replace individual code owners with microsoft/perfview-reviewers group (#2381)
  .github/CODEOWNERS
Due: none

Fix Dynamic Symbol Resolution for Mappings Shared Across Multiple Processes in Universal Traces (#2380)
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
Due: production

Add Itanium C++ ABI symbol demangler
  src/TraceEvent/Symbols/ItaniumDemangler.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ItaniumDemanglerTests.cs
Due: production, test

Add Rust v0 symbol demangler
  src/TraceEvent/Symbols/RustDemangler.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/RustDemanglerTests.cs
Due: production, test

Reduce demangler string allocations: string.Concat and offset-based parsing
  src/TraceEvent/Symbols/ItaniumDemangler.cs
  src/TraceEvent/Symbols/RustDemangler.cs
  src/TraceEvent/TraceEvent.Benchmarks/ItaniumDemanglerBenchmarks.cs
  src/TraceEvent/TraceEvent.Benchmarks/ItaniumDemanglerMetadataBenchmarks.cs
  src/TraceEvent/TraceEvent.Benchmarks/RustDemanglerBenchmarks.cs
  src/TraceEvent/TraceEvent.Benchmarks/TraceEvent.Benchmarks.csproj
Due: production

Avoid empty-string concat for function qualifiers in Itanium parser
  src/TraceEvent/Symbols/ItaniumDemangler.cs
Due: production

Pool StringBuilders in Itanium parser to reduce allocations
  src/TraceEvent/Symbols/ItaniumDemangler.cs
Due: production

Use pooled StringBuilders in WrapModifier
  src/TraceEvent/Symbols/ItaniumDemangler.cs
Due: production

Pool StringBuilders in Rust parser to reduce allocations
  src/TraceEvent/Symbols/RustDemangler.cs
Due: production

Add demangler tests for benchmark symbol patterns
  src/TraceEvent/TraceEvent.Tests/Symbols/ItaniumDemanglerTests.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/RustDemanglerTests.cs
Due: production, test

Add ElfSymbolModule for parsing ELF symbol tables
  src/TraceEvent/Symbols/ElfSymbolModule.cs
Due: production

Add ElfSymbolModule unit tests
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfBuilder.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfSymbolModuleTests.cs
Due: production, test

Add ElfSymbolModule benchmarks
  src/TraceEvent/TraceEvent.Benchmarks/ElfSymbolModuleBenchmarks.cs
  src/TraceEvent/TraceEvent.Benchmarks/TraceEvent.Benchmarks.csproj
Due: production

Fix NullReferenceException race condition in TraceLog.AllocLookup/FreeLookup (#2387)
  src/TraceEvent/TraceLog.cs
Due: production

Add typed schema for AllocationSampled (EventID 303, .NET 10+) in ClrTraceEventParser (#2388)
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Add missing WCF infrastructure event templates to ApplicationServerTraceEventParser
  src/TraceEvent/Parsers/ApplicationServerTraceEventParser.cs
  src/TraceEvent/TraceLog.cs
Due: production

Update BDN to latest version.
  src/Directory.Packages.props
Due: none

Add ElfSymbolModule for Parsing ELF Symbol Tables (#2384)
  src/TraceEvent/Symbols/ElfSymbolModule.cs
  src/TraceEvent/TraceEvent.Benchmarks/ElfSymbolModuleBenchmarks.cs
  src/TraceEvent/TraceEvent.Benchmarks/TraceEvent.Benchmarks.csproj
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfBuilder.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfSymbolModuleTests.cs
Due: production, test

Update BDN to latest version. (#2389)
  src/Directory.Packages.props
Due: none

Add MethodDetails CTF event mapping for LTTng trace support
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
Due: production

fix: correct CtfEventMapping args — (opcode, id, version) not (eventId, taskId, version)
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
Due: production

Add MethodILToNativeMap_V1 CTF mapping — runtime fires V1, perfcollect only enables V0
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
Due: production

fix: use version=0 for V1 mapping — TraceLog template lookup is version-sensitive
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
Due: production

Add ELF symbol resolution with SymbolInfo type hierarchy
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/Symbols/ElfSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfBuilder.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfSymbolModuleTests.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
