Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Add Microsoft.Diagnostics.Tracing.TraceEvent.SymbolsAuthentication to the list of signed NuGet packages.
  src/NuGetPackageSigning/NuGetPackageSigning.csproj
Due: none

Artifacts are not currently captured properly in CI jobs. Fix this by (#2047)
  .pipelines/perfview-job.yml
Due: none

Rename SymbolReaderHttpHandlerExtensions to SymbolReaderAuthenticationHandlerExtensions.
  src/PerfView/Authentication.cs
Due: production

Add Symbols Authentication Support for TraceEvent (#2046)
  .pipelines/perfview-job.yml
  PerfView.sln
  src/Directory.Build.props
  src/NuGetPackageSigning/NuGetPackageSigning.csproj
  src/PerfView.Tests/AuthenticationTests.cs
  src/PerfView/Authentication.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/PerfView.csproj
  src/PerfView/SymbolReaderHttpHandler.cs
  src/SymbolsAuth.Tests/AuthenticationTests.cs
  src/SymbolsAuth.Tests/SymbolsAuth.Tests.csproj
  src/SymbolsAuth.Tests/app.config
  src/SymbolsAuth.Tests/xunit.runner.json
  src/SymbolsAuth/Microsoft.Diagnostics.Tracing.TraceEvent.SymbolsAuthentication.nuspec
  src/SymbolsAuth/Samples/1_InteractivePopupAuth.cs
  src/SymbolsAuth/Samples/2_ManagedIdentityAuth.cs
  src/SymbolsAuth/Samples/Program.cs
  src/SymbolsAuth/Samples/SymbolsAuth.Samples.csproj
  src/SymbolsAuth/SymbolReaderAuthenticationHandler.cs
  src/SymbolsAuth/SymbolsAuth.csproj
  src/SymbolsAuth/SymwebHandler.cs
Due: production, test

Increment build versions
  src/Directory.Build.props
Due: none

Increment build versions (#2048)
  src/Directory.Build.props
Due: none

Fix typos
  src/PerfView/MainWindow.xaml.cs
Due: production

Open external content in default browser.
  src/PerfView/MainWindow.xaml.cs
Due: production

Fix typos (#2049)
  src/PerfView/MainWindow.xaml.cs
Due: production

Open external content in default browser. (#2050)
  src/PerfView/MainWindow.xaml.cs
Due: production

Update to ClrMD version 4.0.0-beta.24314.3 and specify how to authenticate if the symbol server requires it.
  src/Directory.Build.props
  src/HeapDump/GCHeapDumper.cs
  src/HeapDump/Program.cs
Due: production

Update logging statement.
  src/HeapDump/GCHeapDumper.cs
Due: production

Truly Dynamic Event
  src/TraceEvent/Computers/TraceManagedProcess.cs
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
Due: production

Remove old tuning info
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.cs
Due: production

Update to ClrMD version 4.0.0-beta.24314.3 (#2052)
  src/Directory.Build.props
  src/HeapDump/GCHeapDumper.cs
  src/HeapDump/Program.cs
Due: production

Update to the following packages: - Azure.Identity 1.11.4 - Microsoft.Identity.Client 4.61.3 - Microsoft.Identity.Client.Extensions.Msal 4.61.3
  src/Directory.Build.props
Due: none

Update to the following packages: (#2053)
  src/Directory.Build.props
Due: none

Remove support for downloading source code from SourceDepot.
  src/PerfView/PerfView.csproj
  src/TraceEvent/Symbols/NativeSymbolModule.cs
Due: production

Remove support for downloading source code from SourceDepot. (#2054)
  src/PerfView/PerfView.csproj
  src/TraceEvent/Symbols/NativeSymbolModule.cs
Due: production

Update SupportFiles packages:
  src/Directory.Build.props
Due: none

Remove NuGetPackageSigning.dll and NuGetPackageSigning.pdb.
  src/NuGetPackageSigning/NuGetPackageSigning.csproj
Due: none

set NuspecProperties
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove NuGetPackageSigning.dll and NuGetPackageSigning.pdb. (#2056)
  src/NuGetPackageSigning/NuGetPackageSigning.csproj
Due: none

fix traceevent.csproj
  src/TraceEvent/TraceEvent.csproj
Due: production

Update SupportFiles packages: (#2055)
  src/Directory.Build.props
Due: none

TraceLog streaming/in-memory EventPipe support (#1867)
  .ado.yml
  src/Directory.Build.props
  src/PerfView.TestUtilities/PerfView.TestUtilities.csproj
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/GeneralParsing.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/MultiFileMergeAll.cs
  src/TraceEvent/TraceEvent.Tests/Speedscope/SpeedScopeExporterTests.cs
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/TraceLog.cs
Due: production, test

Update System.Text.Json --> 8.0.4 to address CVE-2024-30105.
  src/Directory.Build.props
Due: none

Remove crossgen R2R support.
  src/perfcollect/perfcollect
Due: none

Don't capture native symbols.
  src/perfcollect/perfcollect
Due: none

Validate the input value of -pid.
  src/perfcollect/perfcollect
Due: none

Specify Minimum .NET Framework Version
  README.md
Due: none

Update System.Text.Json --> 8.0.4 to address CVE-2024-30105. (#2059)
  src/Directory.Build.props
Due: none

Validate the input value of -pid. (#2061)
  src/perfcollect/perfcollect
Due: none

Remove Unnecessary Code from perfcollect (#2060)
  src/perfcollect/perfcollect
Due: none

Specify Minimum .NET Framework Version (#2064)
  README.md
Due: none

Address CVE-2024-30105 by directly consuming System.Text.Json 8.0.4.
  src/EtwHeapDump/EtwHeapDump.csproj
  src/HeapDump/HeapDump.csproj
  src/HeapDumpDLL/HeapDumpDLL.csproj
  src/SymbolsAuth/SymbolsAuth.csproj
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Address CVE-2024-30105 by directly consuming System.Text.Json 8.0.4. (#2065)
  src/EtwHeapDump/EtwHeapDump.csproj
  src/HeapDump/HeapDump.csproj
  src/HeapDumpDLL/HeapDumpDLL.csproj
  src/SymbolsAuth/SymbolsAuth.csproj
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Formatting
  src/TraceEvent/Computers/TraceManagedProcess.cs
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.cs
Due: production
