Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Special-Case BitMask Parsing (#2327)
  src/TraceEvent/DynamicTraceEventParser.cs
Due: production

Update standalone test.
  src/TestApps/LargePEHeaderTest/Tester/OldPEFile.cs
  src/TestApps/LargePEHeaderTest/Tester/Program.cs
  src/TestApps/LargePEHeaderTest/Tester/TestBothImplementations.csproj
Due: none

Remove TestApps
  src/TestApps/LargePEHeaderTest/LargeHeaderTest.exe
  src/TestApps/LargePEHeaderTest/LargePEHeaderGenerator.csproj
  src/TestApps/LargePEHeaderTest/Program.cs
  src/TestApps/LargePEHeaderTest/README.md
  src/TestApps/LargePEHeaderTest/Tester/OldPEFile.cs
  src/TestApps/LargePEHeaderTest/Tester/Program.cs
  src/TestApps/LargePEHeaderTest/Tester/TestBothImplementations.csproj
  src/TestApps/LargePEHeaderTest/Tester/Tester.csproj
Due: none

Remove Span Suffix from OptionalHeader32/64
  src/TraceEvent/TraceUtilities/PEFile.cs
Due: production

Refactor PEFile and PEHeader to use ReadOnlySpan exclusively with zero-copy buffer sharing (#2317)
  src/TraceEvent/TraceEvent.Tests/Utilities/PEFileTests.cs
Due: production, test

Remove Test Workaround
  src/TraceEvent/TraceEvent.Tests/Parsing/GeneralParsing.cs
Due: production, test

Fix cdbstack parser dropping last sample and missing metrics (#2329)
  src/PerfView.Tests/DebuggerStackSourceTests.cs
  src/PerfView/OtherSources/DebuggerStackSource.cs
Due: production, test

Remove Test Workaround (#2328)
  src/TraceEvent/TraceEvent.Tests/Parsing/GeneralParsing.cs
Due: production, test

Add @StephenMolloy to CODEOWNERS (#2335)
  .github/CODEOWNERS
Due: none

Add FastSerialization.Tests project with comprehensive test coverage (#2330)
  PerfView.sln
  src/Directory.Packages.props
  src/FastSerialization.Tests/FastSerialization.Tests.csproj
  src/FastSerialization.Tests/GrowableArrayTests.cs
  src/FastSerialization.Tests/ObjectSerializationTests.cs
  src/FastSerialization.Tests/SegmentedDictionaryTests.cs
  src/FastSerialization.Tests/SegmentedListTests.cs
  src/FastSerialization.Tests/SerializerTests.cs
  src/FastSerialization.Tests/StreamLabelTests.cs
  src/FastSerialization.Tests/app.config
  src/FastSerialization.Tests/xunit.runner.json
Due: none

Disable Azure DevOps dependabot (#2334)
  .azuredevops/dependabot.yml
Due: none

Empty Issue Triage Agent
  .github/agents/my-agent.agent.md
Due: none

Initial Issue Triage Agent
  .github/agents/issue-triager.md
  .github/agents/my-agent.agent.md
Due: none

Initial Issue Triage Agent (#2336)
  .github/agents/issue-triager.md
Due: none

Move back to net8.0
  src/FastSerialization/FastSerialization.csproj
  src/TraceEvent/TraceEvent.csproj
Due: production

Specialize to specific array types
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Fix helper return types
  src/TraceEvent/TraceEvent.cs
Due: production

Fix up another int/short cast mistake
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

One more case
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Add regression tests for recursive call handling in CallTree (#2341)
  src/TraceEvent/TraceEvent.Tests/Regression/RecursiveCallTest.cs
Due: production, test

Fix unhandled ArgumentOutOfRangeException when exporting FlameGraph with unrendered canvas (#2339)
  src/PerfView.Tests/StackViewer/StackWindowTests.cs
  src/PerfView/StackViewer/FlameGraph.cs
  src/PerfView/StackViewer/StackWindow.xaml.cs
Due: production, test

Clean-up
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Fix bug in GetNativeInfo
  src/TraceEvent/TraceUtilities/PEFile.cs
Due: production

Add guidance for capturing ETW traces in Kubernetes pods (#2344)
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Fix CS0649 warnings in TraceEvent.Tests PEFileTests.cs and Caching Bug (#2345)
  src/TraceEvent/TraceEvent.Tests/Utilities/PEFileTests.cs
  src/TraceEvent/TraceUtilities/PEFile.cs
Due: production, test

Respond to PR comments
  src/FastSerialization/FastSerialization.csproj
  src/TraceEvent/Ctf/CtfChannel.cs
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/TraceEvent.csproj
Due: production

Fix merge command line order in kubernetes documentation (#2346)
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Clear m_singleBucketValue when expanding to array.
  src/TraceEvent/Stacks/Histogram.cs
Due: production

Switch test to use Microsoft-JScript since it contains duplicates.
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
Due: production, test

Fix GetRegisteredOrEnabledProviders() documentation claiming list is small (#2348)
  src/TraceEvent/TraceEventSession.cs
Due: production

Fix duplicate stringTable elements in instrumentation manifest (#2347)
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
Due: production, test

Code Review Feedback
  src/TraceEvent/Stacks/Histogram.cs
Due: production

Code Review Feedback
  src/PerfView/StackViewer/PerfDataGrid.xaml.cs
Due: production

Fix Histogram.AddMetric losing values after single-bucket to array transition (#2337)
  src/TraceEvent/Stacks/Histogram.cs
  src/TraceEvent/TraceEvent.Tests/Stacks/HistogramTests.cs
Due: production, test

Fix clipboard copy formatting based on selection dimensions in Stack Viewer (#2332)
  src/PerfView/StackViewer/PerfDataGrid.xaml.cs
Due: production

Fix XML escaping in GetManifestForRegisteredProvider (#2351)
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
Due: production, test

Fix SourceLink parsing to support both wildcard and exact path mappings
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

Fix Perfcollect CI Job
  .pipelines/perfcollect-job.yml
Due: none

Fix Perfcollect CI Job (#2356)
  .pipelines/perfcollect-job.yml
Due: none

Switch from stackalloc to a heap allocation.
  src/TraceEvent/TraceEventSession.cs
Due: production
