Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Inventory bootstrapping
  es-metadata.yml
Due: none

Inventory bootstrapping (#2299)
  es-metadata.yml
Due: none

Revise V2 field definitions in NetTraceFormat_v5.md
  src/TraceEvent/EventPipe/NetTraceFormat_v5.md
Due: production

Update V2TypeCode comment for clarity
  src/TraceEvent/EventPipe/NetTraceFormat_v5.md
Due: production

Move FieldName to the right place
  src/TraceEvent/EventPipe/NetTraceFormat_v5.md
Due: production

Revise NetTraceFormat.md for clarity
  src/TraceEvent/EventPipe/NetTraceFormat.md
Due: production

Revise NetTraceFormat.md for clarity (#2305)
  src/TraceEvent/EventPipe/NetTraceFormat.md
Due: production

Fix the PlatformToolsetVersion Variable in C++ Build
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Fix the PlatformToolsetVersion Variable in C++ Build (#2306)
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Revise V2 field definitions in NetTraceFormat_v5.md (#2302)
  src/TraceEvent/EventPipe/NetTraceFormat_v5.md
Due: production

Fix copying First/Last columns with pipe symbols to work in time range input (#2304)
  src/PerfView.Tests/Utilities/RangeUtilitiesTests.cs
  src/PerfView/Utilities/RangeUtilities.cs
Due: production, test

Increment Versions
  src/Directory.Build.props
Due: none

Increment Versions (#2311)
  src/Directory.Build.props
Due: none

Increment Versions (#2312)
  src/Directory.Build.props
Due: none

Update test baselines
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.2.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.2.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.6.2.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netcore.3.1.x64.twocontainers.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netfx.4.6.1080.0.netfxrel3stage.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netfx.4.6.1080.0.netfxrel3stage.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/primitive-types.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/sl.5.x86.baseline.txt
Due: production, test

Update test baselines.
  src/TraceEvent/TraceEvent.Tests/inputs/eventpipe-dotnetcore3.0-win-x64-objver4.nettrace.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.2.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.2.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.6.2.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netcore.3.1.x64.twocontainers.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netfx.4.6.1080.0.netfxrel3stage.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netfx.4.6.1080.0.netfxrel3stage.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/primitive-types.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/sl.5.x86.baseline.txt
Due: production, test

Update test baselines
  src/TraceEvent/TraceEvent.Tests/inputs/eventpipe-dotnetcore3.0-win-x64-objver4.nettrace.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.2.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.2.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.6.2.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netcore.3.1.x64.twocontainers.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netfx.4.6.1080.0.netfxrel3stage.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netfx.4.6.1080.0.netfxrel3stage.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/primitive-types.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/sl.5.x86.baseline.txt
Due: production, test

Remove flakey test that just ensures non-PE fails.
  src/TraceEvent/TraceEvent.Tests/Utilities/PEFileTests.cs
Due: production, test

Cause an explicit failure if the R2RMap file doesn't match the loaded image.
  src/TraceEvent/TraceLog.cs
Due: production

Parse the new p_vaddr and p_offset fields in ELF metadata.
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalTests.cs
Due: production, test

EventPipe: Set the ProcessorNumber for V6+
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
Due: production

Use the ProcessorNumber on CPU and CSwitch events to drive ThreadTime accumulation.
  src/TraceEvent/Computers/ThreadTimeComputer.cs
Due: production

Add support for Boolean8 to NetTrace V6.
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/NetTraceFormat.md
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Add support for Boolean8 to NetTrace V6. (#2318)
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/NetTraceFormat.md
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Increment Versions (#2319)
  src/Directory.Build.props
Due: none

Code review feedback.
  src/PerfView/PerfViewData.cs
  src/TraceEvent/Computers/ThreadTimeComputer.cs
  src/TraceEvent/TraceLog.cs
Due: production

Implement A Thread Time View for Universal Traces (#2320)
  src/PerfView/PerfViewData.cs
  src/TraceEvent/Computers/ThreadTimeComputer.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Clean-up constants.
  src/TraceEvent/TraceUtilities/PEFile.cs
Due: production

Clean-Up
  EventPipeDispatchFix.md
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Remove Incorrect Argument Description
  src/PerfView/CommandLineArgs.cs
Due: production

Add test validating EventPipe EventSource dispatch via GetDispatcherFromFileName (#2322)
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Remove Incorrect Argument Description (#2323)
  src/PerfView/CommandLineArgs.cs
Due: production

Increment Versions (#2324)
  src/Directory.Build.props
Due: none

Special-Case BitMask Parsing
  src/TraceEvent/DynamicTraceEventParser.cs
Due: production

Complete OnStackWindowLaunch Pattern and Adjust WarnAboutMissingTypeInformationForProcesses
  src/PerfView/PerfViewData.cs
Due: production

Warn users when circular buffer overflow causes missing type info in allocation views for selected processes (#2326)
  src/PerfView/PerfViewData.cs
Due: production

Address code review feedback.
  src/TraceEvent/DynamicTraceEventParser.cs
Due: production
