Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Bound PE resource name reads by the resource data directory size
  src/TraceEvent/TraceEvent.Tests/Utilities/PEFileTests.cs
  src/TraceEvent/TraceUtilities/PEFile.cs
Due: production, test

Bounds-check TDH metadata offsets in RegisteredTraceEventParser
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
Due: production, test

Bump ReleaseVersion to 3.2.4
  src/Directory.Build.props
Due: none

Fix spurious BROKEN frames on musl-based Linux stacks
  src/TraceEvent/TraceEvent.Tests/Universal/MuslBrokenStackTests.cs
  src/TraceEvent/TraceEventStacks.cs
Due: production, test

Fix InMemoryCircularBuffer merge failure with large CircularMB
  src/TraceEvent/TraceEventSession.cs
Due: production

Fix InMemoryCircularBuffer merge failure with large CircularMB (#2439)
  src/TraceEvent/TraceEventSession.cs
Due: production

Fix GC dynamic ETLX replay
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Regression/GCDynamicTraceEventParserTests.cs
Due: production, test

Centralize GC replay payload parsing
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
Due: production

Avoid reparsing raw GC payloads
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Regression/GCDynamicTraceEventParserTests.cs
Due: production, test

Fix GC dynamic ETLX replay (#2440)
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Regression/GCDynamicTraceEventParserTests.cs
Due: production, test

Enable W4 and warnings as errors for C++ projects
  src/EtwClrProfiler/COMInfrastructure.cpp
  src/EtwClrProfiler/CorProfilerTracer.cpp
  src/EtwClrProfiler/CorProfilerTracer.h
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Remove stale sampling debug code
  src/EtwClrProfiler/CorProfilerTracer.cpp
Due: production

Enable W4 and warnings as errors for C++ projects (#2441)
  src/EtwClrProfiler/COMInfrastructure.cpp
  src/EtwClrProfiler/CorProfilerTracer.cpp
  src/EtwClrProfiler/CorProfilerTracer.h
  src/EtwClrProfiler/ETWClrProfilerX64.vcxproj
  src/EtwClrProfiler/ETWClrProfilerX86.vcxproj
Due: production

Bump ReleaseVersion to 3.2.5
  src/Directory.Build.props
Due: none

Bump ReleaseVersion to 3.2.5 (#2442)
  src/Directory.Build.props
Due: none

Support TraceLogging formatting hints
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TdhFormatter.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/DynamicTraceEventParserTests.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/RegisteredTraceEventParserTests.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/TdhFormatterTests.cs
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.2.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.2.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.5.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/net.4.6.2.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netcore.3.1.x64.twocontainers.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netfx.4.6.1080.0.netfxrel3stage.x64.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/netfx.4.6.1080.0.netfxrel3stage.x86.baseline.txt
  src/TraceEvent/TraceEvent.Tests/inputs/sl.5.x86.baseline.txt
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceLog.cs
  src/TraceEvent/Utilities/FormatUtils.cs
Due: production, test

Support embedded portable PDBs for managed symbol resolution (#2434)
  PerfView.sln
  src/TraceEvent/Symbols/PortableSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/EmbeddedPdbTestApp/EmbeddedPdbTestApp.csproj
  src/TraceEvent/TraceEvent.Tests/EmbeddedPdbTestApp/EmbeddedTarget.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
  src/TraceEvent/TraceLog.cs
Due: production, test

Fix StackOverflow on malformed EventPipe object type length
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Fix AccessViolation on malformed MethodILToNativeMap entry count
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Fix StackOverflow on malformed EventPipe object type length (#2444)
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Simplify IL map payload validation
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Fix AccessViolation on malformed MethodILToNativeMap entry count (#2445)
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Fix infinite loop in LinuxPerfScriptEventParser on truncated sched_switch lines
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
  src/TraceEvent/TraceEvent.Tests/LinuxStackSource/LinuxPerfScriptEventParserTests.cs
Due: production, test

Fix infinite loop in LinuxPerfScriptEventParser on truncated sched_switch lines (#2446)
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
  src/TraceEvent/TraceEvent.Tests/LinuxStackSource/LinuxPerfScriptEventParserTests.cs
Due: production, test

Address PR feedback
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TdhFormatter.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/DynamicTraceEventParserTests.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/TdhFormatterTests.cs
  src/TraceEvent/Utilities/FormatUtils.cs
Due: production, test

Fix main window keyboard focus order
  src/PerfView.Tests/MainWindowTests.cs
  src/PerfView/MainWindow.xaml
Due: production, test

Make PerfView help dismissible with Escape
  src/PerfView.Tests/GuiUtilities/WebBrowserWindowAccessibilityTests.cs
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml.cs
Due: production, test

fix(event-viewer): address selected stacks review feedback
  src/PerfView.Tests/EventViewer/EventWindowTests.cs
  src/PerfView/EventViewer/EventWindow.xaml.cs
  src/PerfView/PerfViewData.cs
Due: production, test

Update UsersGuide.htm
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Use net.4.5.2.x86.etl.zip for EventViewer tests. Remove unused method. Improve exception message in PerfViewData.cs.
  src/PerfView.Tests/EventViewer/EventWindowTests.cs
  src/PerfView.Tests/PerfView.Tests.csproj
  src/PerfView/PerfViewData.cs
  src/TraceEvent/Stacks/Stacks.cs
Due: production, test

Fix pipeline block
  src/PerfView.Tests/EventViewer/EventWindowTests.cs
Due: test

• Harden EventWindow tests against hangs and cleanup failures
  src/PerfView.Tests/EventViewer/EventWindowTests.cs
Due: test

Bump version to 3.2.6
  src/Directory.Build.props
Due: none

Improve stack names for generated JIT helpers
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
  src/TraceEvent/TraceLog.cs
Due: production

Simplify generated helper module path handling
  src/TraceEvent/TraceLog.cs
Due: production

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/stale.yml
Due: none

feedback
  src/TraceEvent/Parsers/ClrTraceEventParser.cs
Due: production

Harden GNU Debuglink Parsing And Path Handling (#2462)
  src/PerfView.Tests/Memory/PathUtilitiesTests.cs
  src/TraceEvent/Symbols/ElfSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfBuilder.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfSymbolModuleTests.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
  src/Utilities/PathUtilities.cs
Due: production, test

Authorize source downloads (#2463)
  documentation/TraceEvent/TraceEventProgrammersGuide.md
  src/PerfView/App.cs
  src/PerfView/CommandLineArgs.cs
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

Prevent Test Hangs Caused By Concurrent Trace Listener Mutation (#2465)
  src/FastSerialization.Tests/app.config
  src/LinuxTracing.Tests/App.config
  src/PerfView.TestUtilities/DebugAssertionTests.cs
  src/PerfView.Tests/app.config
  src/SymbolsAuth.Tests/app.config
  src/TraceEvent/Ctf/CtfTracing.Tests/app.config
  src/TraceEvent/TraceEvent.Tests/Properties/AssemblyInfo.cs
  src/TraceEvent/TraceEvent.Tests/Properties/ModuleInitializerAttribute.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfSymbolModuleTests.cs
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
  src/TraceEvent/TraceEvent.Tests/app.config
Due: production, test
