Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Fix run command dialog window size + calculate correct height during expander expand + collapse
  src/PerfView/Dialogs/RunCommandDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml.cs
Due: production

Further accessibility fixes (#2176)
  src/PerfView/Dialogs/FileInputAndOutput.xaml
  src/PerfView/Dialogs/ManagePresetsDialog.xaml
  src/PerfView/Dialogs/MemoryDataDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml.cs
  src/PerfView/Dialogs/SelectProcess.xaml
  src/PerfView/EventViewer/EventWindow.xaml
  src/PerfView/GuiUtilities/HistoryComboBox/HistoryComboBox.cs
  src/PerfView/HeapView/GcInfoView.cs
  src/PerfView/HeapView/HeapAllocView.cs
  src/PerfView/HeapView/HeapDiagram.cs
  src/PerfView/HeapView/IssueView.cs
  src/PerfView/HeapView/ThreadView.cs
  src/PerfView/HeapView/Toolbox.cs
  src/PerfView/MainWindow.xaml
  src/PerfView/ObjectViewer/TreeViewGrid.xaml
  src/PerfView/StackViewer/FlameGraphDrawingCanvas.cs
  src/PerfView/StackViewer/PerfDataGrid.xaml
  src/PerfView/StackViewer/StackWindow.xaml
  src/PerfView/Themes/LightTheme.xaml
Due: production

Fix bug that wasn't reseting StackBytes for V6 events that have no stack
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
Due: production

Discuss new NetTrace V6 format (#2170)
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/LabelListCache.cs
  src/TraceEvent/EventPipe/NetTraceFormat.md
  src/TraceEvent/EventPipe/NetTraceFormat_v5.md
  src/TraceEvent/EventPipe/SpanReader.cs
  src/TraceEvent/EventPipe/ThreadCache.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceEvent.csproj
Due: production, test

Increment Versions
  src/Directory.Build.props
Due: none

Temporarily disable nettrace v6 support.
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Increment Versions and Disable Nettrace V6 Support (#2178)
  src/Directory.Build.props
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Change format version support, eliminate pinning, and improve UnsupportedVersionException
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/EventPipe/FixedBuffer.cs
  src/TraceEvent/EventPipe/LabelListCache.cs
  src/TraceEvent/EventPipe/RewindableStream.cs
  src/TraceEvent/EventPipe/SpanReader.cs
  src/TraceEvent/EventPipe/StackCache.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Platform/EventPipeTestBase.cs
  src/TraceEvent/TraceEvent.csproj
Due: production, test

Responding to PR feedback
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/EventPipeTraceEventParser.cs
  src/TraceEvent/EventPipe/RewindableStream.cs
  src/TraceEvent/EventPipe/SpanReader.cs
  src/TraceEvent/EventPipe/StackCache.cs
  src/TraceEvent/EventPipe/ThreadCache.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Add a flag to set a max size for OS heap sessions
  src/PerfView/CommandLineArgs.cs
  src/PerfView/CommandProcessor.cs
Due: production

Fix flag name, and include it in the args string
  src/PerfView/CommandLineArgs.cs
  src/PerfView/CommandProcessor.cs
Due: production

Change NetTrace format version support, eliminate pinning, and improve UnsupportedVersionException (#2180)
  src/TraceEvent/EventPipe/EventCache.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/EventPipeTraceEventParser.cs
  src/TraceEvent/EventPipe/FixedBuffer.cs
  src/TraceEvent/EventPipe/LabelListCache.cs
  src/TraceEvent/EventPipe/RewindableStream.cs
  src/TraceEvent/EventPipe/SpanReader.cs
  src/TraceEvent/EventPipe/StackCache.cs
  src/TraceEvent/EventPipe/ThreadCache.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/Platform/EventPipeTestBase.cs
  src/TraceEvent/TraceEvent.csproj
Due: production, test

Implement nettrace conversion to TraceLog using universal providers.
  src/MemoryGraph/graph.cs
  src/PerfView/PerfViewData.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
  src/TraceEvent/Parsers/UniversalEventsTraceEventParser.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/TraceLog.cs
Due: production

Clean-up parsers.
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
Due: production

React to changes in the Universal providers.
  src/TraceEvent/Parsers/UniversalEventsTraceEventParser.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceLog.cs
Due: production

Uncomment assert.
  src/TraceEvent/TraceLog.cs
Due: production

Add CPU stacks.
  src/PerfView/PerfViewData.cs
Due: production

Multi-process Support
  src/PerfView/PerfViewData.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
Due: production

Clean-up nettrace file views based on what data is present.
  src/PerfView/PerfViewData.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
Due: production

Clean-up
  src/PerfView/PerfViewData.cs
  src/TraceEvent/EventPipe/EventPipeEventSource.cs
Due: production

Add /OSHeapMaxMB to set a max size for OS heap sessions (#2181)
  src/PerfView/CommandLineArgs.cs
  src/PerfView/CommandProcessor.cs
Due: production

Add documentation for the universal providers.
  src/TraceEvent/EventPipe/UniversalProviders.md
Due: production

Updates to universal provider documentation.
  src/TraceEvent/EventPipe/UniversalProviders.md
Due: production

Fix typo
  src/TraceEvent/EventPipe/UniversalProviders.md
Due: production

Implement Nettrace Support for Traces with Universal Providers (#2182)
  src/MemoryGraph/graph.cs
  src/PerfView/PerfViewData.cs
  src/TraceEvent/EventPipe/UniversalProviders.md
  src/TraceEvent/Parsers/UniversalEventsTraceEventParser.cs
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceLog.cs
Due: production

Allow deferred symbol resolution for nettrace files.
  src/PerfView/PerfViewData.cs
Due: production

Implement parsing of ProcessMappingSymbolMetadata and consumption during TraceLog generation.
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/Symbols/ISymbolLookup.cs
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/TraceLog.cs
Due: production

Implement ProcessMappingMetadata symbol parser tests.
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalTests.cs
Due: production, test

Implement symbol resolution for R2R images in Linux traces.
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/Symbols/ISymbolLookup.cs
  src/TraceEvent/Symbols/R2RPerfMapSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceLog.cs
Due: production

Additional tests and clean-up.
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/Symbols/ISymbolLookup.cs
  src/TraceEvent/Symbols/R2RPerfMapSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/R2RPerfMapSymbolModuleTests.cs
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Implement R2R Symbol Lookup for Linux Traces (#2183)
  src/PerfView/PerfViewData.cs
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/Parsers/UniversalSystemTraceEventParser.cs
  src/TraceEvent/SourceConverters/NettraceUniversalConverter.cs
  src/TraceEvent/Symbols/ISymbolLookup.cs
  src/TraceEvent/Symbols/NativeSymbolModule.cs
  src/TraceEvent/Symbols/R2RPerfMapSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/R2RPerfMapSymbolModuleTests.cs
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalTests.cs
  src/TraceEvent/TraceEvent.csproj
  src/TraceEvent/TraceLog.cs
Due: production, test

fix IndexOutOfRangeException in ProcessGlobalHistory
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Fix NetTrace parsing for Start/Stop event names
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

Fix NetTrace parsing for Start/Stop event names (#2186)
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
Due: production, test

fix IndexOutOfRangeException in ProcessGlobalHistory (#2185)
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Increment Build Versions
  src/Directory.Build.props
Due: none

Increment Build Versions (#2188)
  src/Directory.Build.props
Due: none

Fixing a typo in the release notes
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

Fixing a typo in the release notes (#2189)
  src/PerfView/SupportFiles/UsersGuide.htm
Due: production

More efficient build in PRs
  .pipelines/perfview-job.yml
Due: none
