Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff, flags, files, footer"

flags:
  production:
    paths:
      - src/CSVReader/
      - src/EtwClrProfiler/
      - src/EtwHeapDump/
      - src/FastSerialization/
      - src/HeapDump/
      - src/HeapDumpCommon/
      - src/HeapDumpInterface/
      - src/PerfViewJS/
      - src/MemoryGraph/
      - src/PerfView/
      - src/PerfView64/
      - src/PerfViewExtensions/
      - src/related/TraceEventAPIServer/
      - src/TraceEvent/
      - src/Utilities/
      - src/VS/
  test:
    paths:
      - src/LinuxTracing.Tests/
      - src/PerfView.Tests/
      - src/PerfView.TestUtilities/
      - src/TraceEvent/Ctf/CtfTracing.Tests/
      - src/TraceEvent/TraceEvent.Tests/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/
  # Filter out 2015 reports for performance
  '2015':
    paths:
      - nonexistent/

Validate ELF build ID cache paths (#2461)
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/SymbolReaderTests.cs
Due: production, test

Migrate build to .NET 10
  .github/workflows/copilot-setup-steps.yml
  .pipelines/perfview-job.yml
  global.json
  src/Directory.Packages.props
  src/FastSerialization.Tests/FastSerialization.Tests.csproj
  src/PerfView.TestUtilities/PerfView.TestUtilities.csproj
  src/PerfViewCollect/PerfViewCollect.csproj
  src/SymbolsAuth/Samples/SymbolsAuth.Samples.csproj
  src/TraceEvent/TraceEvent.Benchmarks/TraceEvent.Benchmarks.csproj
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Use serviced .NET 10 toolchain
  global.json
  src/Directory.Packages.props
Due: none

Harden dynamic payload length parsing
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/DynamicTraceEventParserVariableLengthFieldTests.cs
Due: production, test

Remove reflection from parser tests
  src/TraceEvent/TraceEvent.Tests/Parsing/DynamicTraceEventParserVariableLengthFieldTests.cs
Due: production, test

Clarify dynamic parser test sentinel
  src/TraceEvent/TraceEvent.Tests/Parsing/DynamicTraceEventParserVariableLengthFieldTests.cs
Due: production, test

Harden dynamic payload length parsing (#2468)
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/DynamicTraceEventParserVariableLengthFieldTests.cs
Due: production, test

Validate installed .NET SDK
  README.md
  build.cmd
Due: none

Fix WebView2 Initialization In Read-Only PerfView Installations
  src/PerfView.Tests/GuiUtilities/WebBrowserWindowUserDataFolderTests.cs
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml.cs
Due: production, test

Migrate Projects from .NET 8 to .NET 10 (#2467)
  .github/workflows/copilot-setup-steps.yml
  .pipelines/perfview-job.yml
  README.md
  build.cmd
  global.json
  src/Directory.Packages.props
  src/FastSerialization.Tests/FastSerialization.Tests.csproj
  src/PerfView.TestUtilities/PerfView.TestUtilities.csproj
  src/PerfViewCollect/PerfViewCollect.csproj
  src/SymbolsAuth/Samples/SymbolsAuth.Samples.csproj
  src/TraceEvent/TraceEvent.Benchmarks/TraceEvent.Benchmarks.csproj
  src/TraceEvent/TraceEvent.Tests/TraceEvent.Tests.csproj
Due: production, test

Fix WebView2 Initialization In Read-Only PerfView Installations (#2469)
  src/PerfView.Tests/GuiUtilities/WebBrowserWindowUserDataFolderTests.cs
  src/PerfView/GuiUtilities/WebBrowser/WebBrowser.xaml.cs
Due: production, test

Use AntiSSRF for PerfView HTTP requests
  src/Directory.Packages.props
  src/PerfView.Tests/AuthenticationTests.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/PerfView.csproj
  src/PerfView/SymbolReaderHttpHandler.cs
  src/PerfView/memory/PdbScopeMemoryGraph.cs
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production, test

Use AntiSSRF for PerfView HTTP requests (#2470)
  src/Directory.Packages.props
  src/PerfView.Tests/AuthenticationTests.cs
  src/PerfView/MainWindow.xaml.cs
  src/PerfView/PerfView.csproj
  src/PerfView/SymbolReaderHttpHandler.cs
  src/PerfView/memory/PdbScopeMemoryGraph.cs
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production, test

Bump version to 3.2.8
  src/Directory.Build.props
Due: none

Bump version to 3.2.8 (#2471)
  src/Directory.Build.props
Due: none

Preserve source and callback when cloning populated events
  src/TraceEvent/PredefinedDynamicEvent.cs
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalTests.cs
Due: production, test

Expose direct ELF symbol reading with optional build-ID validation
  src/TraceEvent/Symbols/ElfSymbolModule.cs
  src/TraceEvent/Symbols/SymbolReader.cs
  src/TraceEvent/TraceEvent.Tests/Symbols/ElfSymbolModuleTests.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Remove legacy KernelTraceControl support
  src/PerfView/App.cs
  src/PerfView/PerfView.csproj
Due: production

Preserve source and callback when cloning populated events (#2472)
  src/TraceEvent/PredefinedDynamicEvent.cs
  src/TraceEvent/TraceEvent.Tests/Universal/UniversalTests.cs
Due: production, test

Require Windows 10 for Windows hosts
  README.md
  documentation/TraceEvent/TraceEventLibrary.md
  src/PerfView.Tests/StartupTests.cs
  src/PerfView/App.cs
  src/PerfView/PerfView.csproj
  src/PerfView/Startup.cs
  src/PerfViewCollect/PerfViewCollect.csproj
  src/TraceEvent/PlatformInitializer.cs
  src/TraceEvent/TraceEvent.Tests/Platform/OperatingSystemVersionTests.cs
  src/Utilities/OperatingSystemVersion.cs
Due: production, test

Remove ARM32 PerfView paths
  src/PerfView/App.cs
  src/PerfView/CommandLineArgs.cs
  src/PerfView/CommandProcessor.cs
  src/PerfView/PerfView.csproj
Due: production

Build PerfView applications for x64
  .pipelines/perfview-job.yml
  src/PerfView.Tests/PerfView.Tests.csproj
  src/PerfView.Tests/StartupTests.cs
  src/PerfView/PerfView.csproj
  src/PerfViewCollect/PerfViewCollect.csproj
  src/PerfViewExtensions/GlobalSrc/Global.csproj
Due: production, test

Simplify x64 profiler registration
  src/PerfView/CommandProcessor.cs
Due: production

Trim host-only PerfView native resources
  src/PerfView.Tests/StartupTests.cs
  src/PerfView/PerfView.csproj
  src/PerfView/Utilities/SupportFiles.cs
Due: production, test

Remove obsolete kernel-paging commands
  src/PerfView/CommandLineArgs.cs
  src/PerfView/CommandProcessor.cs
Due: production

Remove 32-bit host heap-dump branches
  src/PerfView.Tests/HeapDumperTests.cs
  src/PerfView/memory/HeapSnapshot.cs
Due: production, test

Remove the app-permissions OS gate
  src/PerfView/App.cs
Due: production

Remove 32-bit host command redirection
  src/PerfView/CommandProcessor.cs
Due: production

Remove cross-bitness counter relaunch
  src/PerfView/Triggers.cs
Due: production

Remove the custom-session OS restriction
  src/PerfView/CommandLineArgs.cs
Due: production

Remove the CPU-counter UI OS gate
  src/PerfView/CommandLineArgs.cs
  src/PerfView/Dialogs/RunCommandDialog.xaml.cs
Due: production

Always log CPU-counter settings on stop
  src/PerfView/CommandProcessor.cs
Due: production

Remove legacy network-capture OS arguments
  src/PerfView/CommandProcessor.cs
Due: production

Remove the old-host trace warning
  src/PerfView/PerfViewData.cs
Due: production

Remove JavaScript heap OS gates
  src/PerfView/memory/JavaScriptHeapDumper.cs
Due: production

Remove the package-lookup OS gate
  src/HeapDump/GCHeapDumper.cs
Due: production

Remove Win61 from TraceEvent packaging
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.props
  src/TraceEvent/TraceEvent.csproj
Due: production

Remove obsolete kernel-session version checks
  src/TraceEvent/TraceEventSession.cs
Due: production

Remove legacy ETW provider-control fallbacks
  src/TraceEvent/TraceEventNativeMethods.cs
  src/TraceEvent/TraceEventSession.cs
Due: production

Remove Windows 7 real-time session emulation
  src/TraceEvent/ETWTraceEventSource.cs
  src/TraceEvent/TraceEventSession.cs
  src/TraceEvent/TraceLog.cs
Due: production
