Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

Rename classes for code review feedback
  src/TraceEvent/Computers/TraceManagedProcess.cs
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.cs
Due: production

Support concurrent access to LinuxPerfScriptProcessNameBuilder.
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptProcessNameBuilder.cs
Due: production

Increment Version Numbers
  src/Directory.Build.props
Due: none

Truly Dynamic Event (#2051)
  src/PerfView/GcStats.cs
  src/TraceEvent/Computers/TraceManagedProcess.cs
  src/TraceEvent/Parsers/GCDynamicTraceEventParser.cs
  src/TraceEvent/TraceEvent.cs
Due: production

Increment Version Numbers (#2067)
  src/Directory.Build.props
Due: none

Make lock name more descriptive.
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptProcessNameBuilder.cs
Due: production

Support Concurrent Access to LinuxPerfScriptProcessNameBuilder (#2066)
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptProcessNameBuilder.cs
Due: production

Handle some parsing edge cases and add support for disk IO events
  src/LinuxTracing.Tests/EventParseTests.cs
  src/LinuxTracing.Tests/Sources/disk_io_no_stacks.perf.data.dump
  src/LinuxTracing.Tests/Sources/no_stack_frames.perf.data.dump
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
Due: production, test

fix: arm64/kerneltracecontrol.dll file name
  src/TraceEvent/TraceEvent.csproj
Due: production

Fix issues with previous change
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
Due: production

CI Trigger Test
  README.md
Due: none

Add Microsoft.Diagnostics.NETCore.Client to the TraceEvent nuspec.
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
Due: production

Add Microsoft.Diagnostics.NETCore.Client to the TraceEvent nuspec. (#2071)
  src/TraceEvent/Microsoft.Diagnostics.Tracing.TraceEvent.nuspec
Due: production

Update to net8.0
  src/HeapDump/GCHeapDumper.cs
  src/HeapDump/HeapDump.csproj
  src/PerfView/PerfView.csproj
Due: production

[DO NOT MERGE] CI Trigger Test
  README.md
Due: none

[DO NOT MERGE] Test Commit
  README.md
Due: none

Add support for wakeup events
  src/LinuxTracing.Tests/EventParseTests.cs
  src/LinuxTracing.Tests/Sources/one_wakeup.perf.data.dump
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
Due: production, test

Update the Direct PerfView Download Link
  documentation/Downloading.md
Due: none

Update the Direct PerfView Download Link (#2074)
  documentation/Downloading.md
Due: none

Add support for old event format as well
  src/LinuxTracing.Tests/EventParseTests.cs
  src/LinuxTracing.Tests/Sources/one_wakeup.perf.data.dump
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
Due: production, test

Update README.md
  README.md
Due: none

Remove documentation for SupportFiles NuGet packages.
  documentation/MakingSupportFilesNugetPackages.md
Due: none

Remove NuGetSupportFiles directory.
  src/NugetSupportFiles/.gitignore
  src/NugetSupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles.MakeNuget.bat
  src/NugetSupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles.Populate.bat
  src/NugetSupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles.nuspec
  src/NugetSupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles/build/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles.props
  src/NugetSupportFiles/PerfView.SupportFiles.MakeNuget.bat
  src/NugetSupportFiles/PerfView.SupportFiles.Populate.bat
  src/NugetSupportFiles/PerfView.SupportFiles/PerfView.SupportFiles.nuspec
  src/NugetSupportFiles/PerfView.SupportFiles/build/PerfView.SupportFiles.props
Due: none

Remove NuGet SupportFiles (#2080)
  documentation/MakingSupportFilesNugetPackages.md
  src/NugetSupportFiles/.gitignore
  src/NugetSupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles.MakeNuget.bat
  src/NugetSupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles.Populate.bat
  src/NugetSupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles.nuspec
  src/NugetSupportFiles/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles/build/Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles.props
  src/NugetSupportFiles/PerfView.SupportFiles.MakeNuget.bat
  src/NugetSupportFiles/PerfView.SupportFiles.Populate.bat
  src/NugetSupportFiles/PerfView.SupportFiles/PerfView.SupportFiles.nuspec
  src/NugetSupportFiles/PerfView.SupportFiles/build/PerfView.SupportFiles.props
Due: none

Add cgmanifest.json files to track dependencies that come from SupportFiles packages.
  src/PerfView/cgmanifest.json
  src/TraceEvent/cgmanifest.json
Due: production

Scenario Documentation.
  README.md
  documentation/Scenarios.md
Due: none

README clean-up pass.
  README.md
Due: none

Add perfview event processing for process_exec
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
Due: production

Fix style issue
  src/TraceEvent/Stacks/Linux/LinuxPerfScriptEventParser.cs
Due: production

Add test for sched:exec_process
  src/LinuxTracing.Tests/EventParseTests.cs
  src/LinuxTracing.Tests/Sources/exec_process.perf.data.dump
Due: test

Update symbol file check text for PerfView.
  src/PerfView/App.cs
Due: production

Remove extra spaces.
  README.md
Due: none

Update symbol file check text for PerfView. (#2085)
  src/PerfView/App.cs
Due: production

Add cgmanifest.json files to track dependencies that come from SupportFiles packages. (#2082)
  src/PerfView/cgmanifest.json
  src/TraceEvent/cgmanifest.json
Due: production

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
