Repository Microsoft/perfview: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release, 2015

Switch to pipeline artifacts
  .ado.yml
Due: none

Try parallel VSTest in PRs
  .pipelines/perfview-job.yml
Due: none

Add support for selecting process trees
  build.cmd
  src/PerfView/Dialogs/SelectProcess.xaml
  src/PerfView/Dialogs/SelectProcess.xaml.cs
Due: production

Implement Duration column sorting using TotalDurationSeconds property
  src/PerfView/Dialogs/SelectProcess.xaml
  src/PerfView/HeapView/Toolbox.cs
  src/PerfView/IProcess.cs
Due: production

Fix GetActiveSessionNames to handle ERROR_MORE_DATA
  src/TraceEvent/TraceEventNativeMethods.cs
  src/TraceEvent/TraceEventSession.cs
Due: production

More efficient build in PRs (#2197)
  .pipelines/perfview-job.yml
Due: none

Switch to pipeline artifacts (#2198)
  .ado.yml
Due: none

Child --> Descendant
  src/PerfView/Dialogs/SelectProcess.xaml
Due: production

Update NetTrace parameter parsing
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/NetTraceFormat.md
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/inputs/eventpipe-dotnetcore5.0-win-x64-arraytypes.nettrace.baseline.txt
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Fix GetActiveSessionNames to handle ERROR_MORE_DATA (#2196)
  src/TraceEvent/TraceEventNativeMethods.cs
  src/TraceEvent/TraceEventSession.cs
Due: production

Add Support for Selecting Process Trees (#2195)
  build.cmd
  src/PerfView/Dialogs/SelectProcess.xaml
  src/PerfView/Dialogs/SelectProcess.xaml.cs
Due: production

Implement Duration column sorting using TotalDurationSeconds property (#2194)
  src/PerfView/Dialogs/SelectProcess.xaml
  src/PerfView/HeapView/Toolbox.cs
  src/PerfView/IProcess.cs
Due: production

Change help ribbons to use textblocks to allow for tab navigation
  src/PerfView/Dialogs/MemoryDataDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml
  src/PerfView/Dialogs/SelectProcess.xaml
Due: production

Change help ribbons to use textblocks to allow for tab navigation (#2201)
  src/PerfView/Dialogs/MemoryDataDialog.xaml
  src/PerfView/Dialogs/RunCommandDialog.xaml
  src/PerfView/Dialogs/SelectProcess.xaml
Due: production

Apply suggestions from code review
  src/TraceEvent/DynamicTraceEventParser.cs
Due: production

Update src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/DynamicTraceEventParser.cs
Due: production

Update NetTrace parameter parsing (#2200)
  src/TraceEvent/DynamicTraceEventParser.cs
  src/TraceEvent/EventPipe/EventPipeMetadata.cs
  src/TraceEvent/EventPipe/NetTraceFormat.md
  src/TraceEvent/RegisteredTraceEventParser.cs
  src/TraceEvent/TraceEvent.Tests/Parsing/EventPipeParsing.cs
  src/TraceEvent/TraceEvent.Tests/inputs/eventpipe-dotnetcore5.0-win-x64-arraytypes.nettrace.baseline.txt
  src/TraceEvent/TraceEvent.cs
  src/TraceEvent/TraceLog.cs
Due: production, test

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#2205)
  .github/CODEOWNERS
Due: none

Fix NetTrace file format documentation to match implementation (#2204)
  src/TraceEvent/EventPipe/NetTraceFormat_v5.md
Due: production

Add markdown table formatting when copying stacks for GitHub issues (#2203)
  src/PerfView/StackViewer/PerfDataGrid.xaml.cs
Due: production

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Allow copilot to build Linux-buildable projects.
  .github/workflows/copilot-setup-setups.yml
Due: none

Allow copilot to build Linux-buildable projects. (#2207)
  .github/workflows/copilot-setup-setups.yml
Due: none

Clean-up compiler errors and remove the breaking call to SetFocus.
  src/PerfView/StackViewer/StackWindow.xaml.cs
Due: production

Fix unit test implementation.
  src/PerfView.Tests/StackViewer/StackWindowTests.cs
Due: test

Keep track of the focus node and set focus again after the update.
  src/PerfView/StackViewer/StackWindow.xaml.cs
Due: production

Fix-up test compile errors
  src/PerfView.Tests/StackViewer/StackWindowTests.cs
Due: test

Fix StackViewer: "Set Time Range" resets "Goto Items by callees" (#2208)
  src/PerfView.Tests/StackViewer/StackWindowTests.cs
  src/PerfView/StackViewer/StackWindow.xaml.cs
Due: production, test

Rename copilot-setup-setups.yml --> copilot-setup-steps.yml.
  .github/workflows/copilot-setup-steps.yml
Due: none

Rename copilot-setup-setups.yml --> copilot-setup-steps.yml. (#2210)
  .github/workflows/copilot-setup-steps.yml
Due: none

Throw exception then TdhEnumerateProviders fails, which allows looking at the hr instead of causing an NRE which masks the exception.
  src/TraceEvent/TraceEventSession.cs
Due: production

Remove PDB generation for .NET Core assemblies using CrossGen (#2202)
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

[SymbolReader] Make symbol server timeout configurable and remove dead server mechanism (#2209)
  src/TraceEvent/Symbols/SymbolReader.cs
Due: production

Fix null reference exception in GenFragmentationPercent method (#2211)
  src/TraceEvent/Computers/TraceManagedProcess.cs
Due: production

Update comments
  src/PerfView/PerfViewData.cs
Due: production

Update Download Guidance
  documentation/Downloading.md
Due: none

Code review feedback
  documentation/Downloading.md
Due: none

Update Download Guidance (#2213)
  documentation/Downloading.md
Due: none

Implement a new parser type called PredefinedDynamicTraceEventParser that implements a pre-compiled C# parser that targets dynamic events such as TraceLogging events.
  build.cmd
  src/TraceEvent/PredefinedDynamicEvent.cs
  src/TraceEvent/PredefinedDynamicTraceEventParser.cs
  src/TraceEvent/Samples/52_TraceLoggingParserExample.cs
  src/TraceEvent/TraceEvent.cs
Due: production

Path conditions:
  production: any of: src/CSVReader/, src/EtwClrProfiler/, src/EtwHeapDump/, src/FastSerialization/, src/HeapDump/, src/HeapDumpCommon/, src/HeapDumpInterface/, src/PerfViewJS/, src/MemoryGraph/, src/PerfView/, src/PerfView64/, src/PerfViewExtensions/, src/related/TraceEventAPIServer/, src/TraceEvent/, src/Utilities/, src/VS/
  test: any of: src/LinuxTracing.Tests/, src/PerfView.Tests/, src/PerfView.TestUtilities/, src/TraceEvent/Ctf/CtfTracing.Tests/, src/TraceEvent/TraceEvent.Tests/
  Release: any of: nonexistent/
  2015: any of: nonexistent/
